.featured .post {
    position: relative;
    width: 32%;
    margin-bottom: 0;
}

.featured .post:last-child {
    margin-bottom: 0;
}

.featured .post .image {
    width: 100%;
    min-height: 220px;
}

.featured .post .image a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.featured .post .image a img {
    min-width: 100%;
    max-width: 100%;
}

.featured .post .info {
    width: 100%;
    min-height: 0;
    margin: 0;
    font-size: 1em;
}


.featured .post .info .wrap {
    padding: 1em 0 0.5em 0;
    background: #FFF;
}

.featured .post .info h3 {
    margin: 0 0 0.35rem 1rem;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
}

.featured .post .info h3 a {
    display: block;
    color: #333;
    max-width:  100%;
    max-height:  1em;
    overflow:  hidden;
}

.featured .post .info .genre {
    margin-left: 1rem;
    font-weight: 400;
    color: #666;
}

.featured .post .info .created {
    margin-left: 1rem;
    margin-top: 0.35em;
    text-transform: capitalize;
    color: #666;
}