.post {
    margin-bottom: 3em;
}

.post:last-child {
    margin-bottom: 0;
}

.post .image,
.post .data {
    position: relative;
    width: 48%;
}

.post .data {
    min-height: 404px;
}

.post .image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post .image a img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

.post .links {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post h2 {
    margin-bottom: 0.5em;
    padding-top: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #000;
}

.post .info .summary,
.post .info .created,
.post .info .genre,
.post .info .length,
.post .info .tags {
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

.post .info .preview {
    margin: 2em 0;
}

.post .info strong {
    font-weight: 500;
}

.post .info .summary {
    line-height: 1.3;
    margin: 1em 0;
}

.post .info .created {
    text-transform: capitalize;
}

.post .info .download {
    margin-left: 0.75em;
    font-size: 1.3em;
}

.post .info .show-tracklist,
.post .tracklist .hide-tracklist {
    font-size: 1.3em;
    color: #b40303;
    cursor: pointer;
}

.post .tracklist .tracks {
    white-space: pre-line;
    line-height: 1.3;
    font-size: 1.1em;
    max-height: 315px;
    overflow-y: auto;
}

