.post {
    margin-bottom: 3em;
}

.post .flex {
    margin-bottom: 1em;
    padding-top: 1em;
}

.post .image,
.post .info,
.post .tracklist {
    position: relative;
    width: 48%;
    min-height: 480px;
}

.post .image {
}

.post .image img {
    min-width: 100%;
    max-width: 100%;
}

.post .links {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post h1,
.post h2,
.post .info .description,
.post .info .created,
.post .info .catnum,
.post .info .quality,
.post .info .genre,
.post .info .length,
.post .info .player,
.post .info .tags {
    margin-bottom: 0.5em;
}

.post h1 {
    font-size: 1.8em;
}

.post h2 {
    font-size: 1.5em;
}

.post .info .description {
    line-height: 1.2;
    margin-bottom: 0.75em;
}

.post .info strong {
    font-weight: 600;
}

.post .info .show-tracklist,
.post .tracklist .hide-tracklist {
    font-size: 1.1em;
    color: #b40303;
    cursor: pointer;
}

.post .tracklist .tracks {
    white-space: pre-line;
    line-height: 1.1;
    height: 400px;
    overflow-y: auto;
}

.post .info .download {
    margin-left: 0.25em;
    font-size: 1.1em;
}

.post .related .item {
    width: 32%;
}

.post .related .item a {
    position: relative;
    display: block;
    height: 170px;
    color: #FFF;
    overflow: hidden;
}

.post .related .item a img {
    min-width: 100%;
    max-width: 100%;
}

.post .related .item a .name {
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
}

