.post {
    margin-bottom: 3em;
}

.post .flex {
    margin-bottom: 1em;
    padding-top: 1em;
}

.post .image,
.post .info,
.post .tracklist {
    position: relative;
    width: 48%;
    min-height: 480px;
}

.post .image {
}

.post .image img {
    min-width: 100%;
    max-width: 100%;
}

.post .links {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post h1,
.post h2,
.post .info .description,
.post .info .created,
.post .info .catnum,
.post .info .quality,
.post .info .genre,
.post .info .length,
.post .info .preview,
.post .info .tags {
    margin-bottom: 0.5em;
}

.post h1 {
    padding: 0;
    font-size: 1.8em;
}

.post h2 {
    position: relative;
    left: -0.06em;
    top: 0.23em;
    height: 0.68em;
    padding: 0;
    margin: 0;
    font-size: 5em;
    text-transform: uppercase;
    overflow: visible;
    z-index: -1;
    opacity: 0.05;
}

.post .info .description {
    line-height: 1.2;
    margin-bottom: 0.75em;
}

.post .info strong {
    font-weight: 600;
}

.post .info .show-tracklist,
.post .tracklist .hide-tracklist {
    font-size: 1.1em;
    color: #b40303;
    cursor: pointer;
}

.post .tracklist .tracks {
    white-space: pre-line;
    line-height: 1.1;
    height: 400px;
    overflow-y: auto;
}

.post .info .download {
    margin-left: 0.25em;
    font-size: 1.1em;
}

.post .featured {
    margin-left: 2em;
}

.featured .post .image a {
    position: absolute;
    top: 0;
    left: 0;
}
