.post {
    margin-bottom: 3em;
}

.post .flex {
    margin-bottom: 5em;
}

.post .image,
.post .data {
    position: relative;
    width: 48%;
    min-height: 480px;
}

.post .image img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

.post .links {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post .info .description,
.post .info .created,
.post .info .catnum,
.post .info .quality,
.post .info .genre,
.post .info .length,
.post .info .preview,
.post .info .tags {
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

.post .info h2,
.post .tracklist h2 {
    margin-bottom: 0.5em;
}

.post .info .description {
    line-height: 1.2;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.post .info strong {
    font-weight: 500;
}


.post .info .preview {
    margin: 1.5em 0;
}

.post .info .created {
    text-transform: capitalize;
}

.post .info .show-tracklist,
.post .tracklist .hide-tracklist,
.post .info .download {
    font-size: 1.5em;
    color: #b40303;
    cursor: pointer;
}

.post .info .download {
    margin-left: 1em;
}

.post .tracklist .tracks {
    white-space: pre-line;
    font-size: 1.3em;
    line-height: 1.3;
    height: 400px;
    overflow-y: auto;
}

.featured .post .image a {
    position: absolute;
    top: 0;
    left: 0;
}
