{% extends 'base.html' %}

{% load static i18n thumbnail common_tags %}

{% block title %}{% trans 'Gallery' %}{% endblock %}
{% block meta %}{% trans 'Gallery' %}{% endblock %}

{% block breadcrumbs %}
  <span class="spacer">&bull;</span>
  <h1>{% trans 'Gallery' %}</h1>
{% endblock %}

{% block content %}
  <article class="gallery container">
    <div class="item">
      <div class="images {% if user.is_superuser %}orderable{% endif %}">
        {% for image in images %}
          {% thumbnail image.original_image "1920x1280" as display %}
          <a href="{{ display.url }}" data-id="{{ image.id }}"
             class="preview shadow {% if user.is_superuser %}orderable-item{% endif %}">
            {% thumbnail image.original_image "x400" as preview %}
            {% thumbnail image.original_image "x50" as thumb %}
            <img src="{{ thumb.url }}"
                 data-src="{{ preview.url }}"
                 data-webp="{% webp_cover preview %}"
                 alt="{% trans 'Image #' %}{{ image.id }}" class="lazy">
            {% endthumbnail %}
            {% endthumbnail %}
          </a>
          {% endthumbnail %}
        {% endfor %}
      </div>
    </div>
  </article>
{% endblock %}

{% block styles %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/pages/gallery/overlay.css' %}" media="all">
  <link type="text/css" rel="stylesheet" href="{% static 'css/pages/gallery/item.css' %}" media="all">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}