{% extends 'base.html' %}

{% load static i18n common_tags %}

{% block title %}{% trans 'About' %}{% endblock %}
{% block meta %}{% trans 'About' %}{% endblock %}

{% block content %}
  <article class="container about shadow">
    <div class="static">
      <h1>
        <span class="print-hidden">
          {% trans 'About' %}
        </span>
        <span class="print-visible">
          {% trans 'Alexander Chaika' %}
        </span>
      </h1>
      <div class="description flex">
        <div class="content">
          <img src="{% static 'img/one-pixel.jpg' %}"
               data-src="{% static 'img/cut-mobile.jpg' %}"
               data-webp="{% webp_static 'img/cut-mobile.jpg' %}"
               class="image mobile-visible lazy" alt="Manti">
          {% if ACTIVE_LANGUAGE == 'ru' %}
            {% include 'static/about/about_ru.html' %}
          {% elif ACTIVE_LANGUAGE == 'en' %}
            {% include 'static/about/about_en.html' %}
          {% else %}
            {% include 'static/about/about_by.html' %}
          {% endif %}
        </div>
        <div class="image mobile-hidden">
          <img src="{% static 'img/one-pixel.jpg' %}"
               data-src="{% static 'img/cut.jpg' %}"
               data-webp="{% webp_static 'img/cut.jpg' %}"
               class="lazy" alt="Manti">
        </div>
      </div>
    </div>
  </article>
{% endblock %}