main {
  min-height: 490px;
  margin-top: 7em;
}

main .sidebar {
  margin-top: 2em;
}

main .sidebar .panel {
  margin-bottom: 1.5em;
}

main .sidebar h4 {
  margin-bottom: 0.5em;
}

main .sidebar ul {
  margin-left: 0;
  justify-content: flex-start;
}

main .sidebar li {
  display: inline-block;
  margin: 0.2em 0;
  list-style: none;
}

main .sidebar li a {
  color: #666;
}

main .sidebar li a:after {
  content: ', ';
}

main .sidebar li:last-child a:after {
  content: '';
}