<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Something goes wrong, please try again later | Blog of Alexander Chaika. My music, photos and info about me. Drum and Bass, House, Techno and Chillout.</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <meta name="theme-color" content="#B40303">
        <link rel="canonical" href="https://manti.by">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="icon" href="/static/img/favicon.ico" sizes="any">
        <link rel="icon" href="/static/svg/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
        <link rel="manifest" href="/manifest.webmanifest">

        <meta name="description" content="Something goes wrong, please try again later | Blog of Alexander Chaika. My music, photos and info about me. Drum and Bass, House, Techno and Chillout.">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Blog of Alexander Chaika.">
        <meta property="og:description"
              content="Something goes wrong, please try again later | Blog of Alexander Chaika. My music, photos and info about me. Drum and Bass, House, Techno and Chillout.">
        <meta property="og:image" content="/static/img/share.jpg">
        <meta property="og:url" content="https://manti.by">

        <link type="text/css" rel="stylesheet" href="/static/css/common/reset.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/font.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/base.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/common/header.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/error.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/responsive/480.css" media="all">
    </head>
    <body>
        <header class="visible shadow">
            <nav class="container">
                <div class="flex">
                    <div class="left">
                        <a href="/" class="homelink" rel="home">
                            <span class="icon">
                                <i class="material-icons">settings_input_svideo</i>
                            </span>
                            <span class="text">
                                Manti.by
                            </span>
                        </a>
                    </div>
                    <div class="right">
                        <a href="/blog/" rel="bookmark" class="link-item mobile-hidden">
                            <span class="text">Music</span>
                        </a>
                        <a href="/gallery/" rel="bookmark" class="link-item mobile-hidden">
                            <span class="text">Gallery</span>
                        </a>
                        <a href="/about/" rel="bookmark" class="link-item mobile-hidden">
                            <span class="text">About</span>
                        </a>
                        <span class="open-search">
                          <span class="icon">
                                <i class="material-icons">search</i>
                            </span>
                        </span>
                    </div>
                </div>
            </nav>
            <nav class="mobile-menu shadow">
                <a href="/blog/" class="mobile-visible">Music</a>
                <a href="/gallery/" class="mobile-visible">Gallery</a>
                <a href="/about/">About</a>
                <span class="open-search">Search</span>
            </nav>
        </header>

        <section id="search" class="shadow">
            <div class="container">
                <div class="flex">
                    <input type="text" aria-label="Search" />
                    <div class="submit-search">
                        <i class="material-icons">search</i>
                    </div>
                    <div class="search-result shadow"></div>
                </div>
                <div class="close-search"><i class="material-icons">close</i></div>
            </div>
        </section>

        <main>
            <div id="error" class="container">
                <div class="icon">
                    <i class="material-icons-outlined">sentiment_very_dissatisfied</i>
                </div>
                <div class="description">
                    Something goes wrong, please try again later.
                    <div class="muted">That&apos;s all we know.</div>
                </div>
            </div>
        </main>

        <footer>
            <nav class="container">
                  Alexander Chaika, 2005
            </nav>
        </footer>

        <link type="text/css" rel="stylesheet" href="/static/css/common/print.css" media="print">
        <link type="text/css" rel="stylesheet" href="/static/css/common/search.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/responsive/1600.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/responsive/1024.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/responsive/767.css" media="all">
        <link type="text/css" rel="stylesheet" href="/static/css/dark.css" media="all">
        <script src="/static/js/widgets/search.js"></script>
    </body>
</html>