@media only screen and (min-width: 1600px) {
    .container {
        width: 1200px;
    }

    .static {
        width: 1080px;
    }

    main .posts {
        width: 70%;
    }

    main .sidebar {
        width: 25%;
        margin-top: 0;
    }

    main .sidebar .panel {
        margin-bottom: 2em;
        padding: 0;
        text-align: right;
    }

    main .sidebar li {
        display: block;
        list-style: none;
    }

    main .sidebar li a {
        color: #666;
    }

    main .sidebar li a:after {
        content: '';
    }

    main .sidebar li a:hover {
        color: #b40303;
    }

    main .sidebar .instagram {
        width: 75%;
        margin-left: 25%;
        margin-bottom: 0.5em;
        color: #666;
    }

    main .sidebar .instagram ul {
        margin-top: 1em;
    }

    main .sidebar .instagram li {
        flex-basis: 49%;
        margin: 0 2% 0.25em 0;
    }

    main .sidebar .instagram li:nth-child(even) {
        margin-right: 0;
    }

    main .sidebar .instagram li a {
        display: block;
    }

    main .sidebar .instagram li a:hover {
            border: none;
    }

    main .sidebar .instagram img {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }

    .home .gallery .featured > a {
        height: 370px;
    }

    .featured.posts {
        width: 100%;
    }

    .featured .post .info {
        min-height: 0;
    }
}