@media only screen and (min-width: 1600px) {
    .container {
        width: 1200px;
    }

    .static {
        width: 1056px;
    }

    .home .gallery .featured > a {
        height: 370px;
    }

    .home .main .posts .post .image,
    .home .main .posts .post .info,
    .home .main .posts .post .tracklist {
        min-height: 413px;
    }

    .home .main .sidebar {
        width: 25%;
    }

    .home .featured .post .image {
        min-height: 260px;
    }

    .home .featured .post .info {
        min-height: 0;
    }
}