@media only screen and (max-width: 767px) {

    .mobile-hidden {
        display: none !important;
    }

    .mobile-visible {
        display: block !important;
    }

    h1 {
        padding: 0;
        margin-bottom: 0;
    }

    .static,
    .container {
        width: 95%;
        margin: 0 2.5%;
    }

    .static {
        padding: 0.5em 0;
        background: transparent;
    }

    .static .image {
        float: none;
        margin: 1em 0;
        width: 100%;
    }

    main {
        margin-top: 4.5em;
    }

    main .sidebar .panel {
        margin-bottom: 1.5em;
    }

    main .sidebar ul {
        margin-left: 0;
    }

    main .sidebar ul li {
        margin: 0.2em 0;
    }

    main .sidebar li a:after {
        content: ', ';
    }

    main .sidebar li:last-child a:after {
        content: '';
    }

    main .sidebar .instagram li {
        flex-basis: 32%;
    }

    main .sidebar .instagram li a:after {
        content: '';
    }

    main .sidebar .instagram .profile {
        margin-left: 0;
    }

    .home h2 {
        left: -0.15em;
        font-size: 4em;
    }

    .post h2 {
        top: 0;
        left: -0.15em;
        font-size: 3em;
    }

    .home .posts .featured {
        display: block;
    }

    .home .posts .featured .post {
        width: 100%;
    }

    .home .gallery {
        margin-bottom: 1em;
    }

    .home .gallery .featured > a {
        height: auto;
    }

    .home .gallery .featured .latest {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .home .gallery .featured .latest .thumbnail {
        flex-basis: 32%;
        max-width: 100%;
        margin: 0 0 0.3em 0;
        box-shadow: none;
    }

    .home .main .posts,
    .home .main .sidebar {
        width: 100%;
    }

    .gallery .item {
        padding-top: 0;
    }

    .gallery .list .preview,
    .gallery .item .preview {
        width: 100%;
        margin: 0 0 0.3em 0;
    }

    .gallery .list .preview:nth-child(n+4) {
        display: none;
    }

    .post .featured {
        margin-left: 0;
    }

    .post .flex {
        padding-top: 0;
        margin-bottom: 0;
    }

    .post .flex .post {
        width: auto;
        flex-basis: 100%;
    }

    .post .image,
    .post .info,
    .post .tracklist {
        width: 100%;
        min-height: 0;
        margin-bottom: 1em;
    }

    .post .image a {
        position: relative;
    }

    .post .links {
        position: relative;
    }

    .featured .post .image {
        margin-bottom: 0;
    }

    .featured .post .image a {
        position: absolute;
    }

    .home .main .posts .post h2 {
        margin-left: 0.2em;
    }

    .home .main .posts .post .image,
    .home .main .posts .post .info,
    .home .main .posts .post .tracklist {
        min-height: 0;
    }

    footer {
        margin: 2em 0 1em;
    }

    footer #copy {
        float: none;
        text-align: center;
    }
}