@media only screen and (max-width: 767px) {

    .mobile-hidden {
        display: none !important;
    }

    .mobile-visible {
        display: block !important;
    }

    h1 {
        margin-bottom: 0;
        font-size: 2.5em;
    }

    h1 .tag {
        border: none;
        margin: 0;
    }

    h2 {
        padding: 0 0 0.3em 0;
        margin-bottom: 0;
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }

    .static,
    .container {
        width: 95%;
        margin: 0 2.5%;
        padding: 0.25em 0;
    }

    .static {
        padding: 0;
        background: transparent;
    }

    .static.shadow {
        border: none;
        box-shadow: none;
    }

    .static .image {
        float: none;
        margin: 0 0 1em 0;
        width: 100%;
    }

    .static .content {
        margin: 0;
    }

    #player .controls {
        width: 100%;
    }

    #player .now-playing {
        width: 87%;
        margin: 0;
    }

    #player .volume,
    #player .volume-text,
    #player .volume-label,
    #player .high-definition {
        margin: 1.5rem 0 0.7rem 0;
    }

    #player .volume-text {
        padding-top: 0.3rem;
        font-size: 0.8em;
        color: #696969;
    }

    #player .volume {
        width: 55%;
    }

    #player .close {
        width: 7%;
        text-align: center;
    }

    header nav.container {
        padding: 0.9em 0 1.1em 0;
    }

    main {
        margin-top: 4.5em;
    }

    main .sidebar .panel {
        margin-bottom: 1.5em;
    }

    main .sidebar ul {
        margin-left: 0;
    }

    main .sidebar ul li {
        margin: 0.2em 0;
    }

    main .sidebar li a:after {
        content: ', ';
    }

    main .sidebar li:last-child a:after {
        content: '';
    }

    main .sidebar .instagram ul {
        justify-content: space-between;
    }

    main .sidebar .instagram li {
        flex-basis: 32%;
        margin: 0.2em 1% 0.2em 0;
    }

    main .sidebar .instagram li:nth-child(3n+3) {
        margin-right: 0;
    }

    main .sidebar .instagram li a {
        display: block;
    }

    main .sidebar .instagram li a img {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }

    main .sidebar .instagram li a:after {
        content: '';
    }

    main .sidebar .instagram .profile {
        margin-left: 0;
    }

    .post .info strong {
        font-weight: 500;
    }

    .home .posts .featured {
        display: block;
    }

    .home .featured.posts .post {
        width: 100%;
        margin-bottom:  0.5em;
    }

    .home .gallery {
        margin-bottom: 1em;
    }

    .home .gallery .featured > a {
        height: auto;
    }

    .home .gallery .featured .latest {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .home .gallery .featured .latest .thumbnail {
        flex-basis: 32.5%;
        max-width: 100%;
        margin: 0 0 0.3em 0;
        box-shadow: none;
    }

    .home .main .posts,
    .home .main .sidebar {
        width: 100%;
    }

    .gallery .item {
        padding-top: 0;
    }

    .gallery .list {
        margin-left: 0;
    }

    .gallery .list .preview,
    .gallery .item .preview {
        width: 100%;
        max-height: 219px;
        margin: 0 0 0.3em 0;
    }

    .gallery .list .preview:nth-child(n+4) {
        display: none;
    }

    .gallery .list .item h2 {
        left: 0;
        height: 1em;
        font-size: 3.5em;
    }

    .gallery .list .item h2 .info {
        display: none;
    }

    .gallery .list .item .preview {
        width: 100%;
        margin: 0 0 0.4em 0;
    }

    .post .featured {
        margin-left: 0;
    }

    .post .flex {
        padding-top: 0;
        margin: 0 0 3em 0;
    }

    .post .flex .post {
        width: auto;
        flex-basis: 100%;
        margin-bottom: 0.5em;
    }

    .post .info .description,
    .post .info .created,
    .post .info .catnum,
    .post .info .quality,
    .post .info .genre,
    .post .info .length,
    .post .info .preview,
    .post .info .tags {
        margin-bottom: 0.5em;
        font-size: 1.2em;
    }

    .post .image,
    .post .data {
        width: 100%;
        min-height: 235px;
        margin-bottom: 1em;
    }

    .post .image a {
        position: relative;
    }

    .post .links {
        position: relative;
    }

    .featured .post .image {
        margin-bottom: 0;
    }

    .featured .post .image a {
        position: absolute;
    }

    .home .main .posts .post h2 {
        margin-left: 0;
        font-size: 1.5em;
    }

    .home .main .posts .post .image,
    .home .main .posts .post .info,
    .home .main .posts .post .tracklist {
        min-height: 0;
    }

    footer {
        margin: 2em 0 1em;
    }

    footer #copy {
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .gallery .item .preview {
        width: calc(100%  / 2 - 0.2em);
        max-height: 192px;
    }
}