.git/
.github/

.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

config/

.flake8
.gitattributes
.gitignore
.isort
.pre-commit-config.yaml
.prospector.yaml
.pylintrc
.python-version
docker-compose.yml
Dockerfile
LICENSE
package.json
pyproject.toml
README.md