#.gitignore

# Ignore local config and content pathes
trunk/includes/config.ini
trunk/content/*

# Remove language files for later development
trunk/language/en.ini
trunk/language/ru.ini

# Remove sitemap
trunk/sitemap.xml

# Remove vagrant instance folder
.vagrant/