# PyCharm files
.idea/

# Virtual environments
.env
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Pyenv
.python-version

# Project files
static/*
content/*
manti_by/settings/local.py
manti_by/settings/prod.py
database.sql
