fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: pretty-format-json
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.16.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]

  - repo: local
    hooks:
    - id: black
      name: black-local
      entry: black
      language: python
      types: [python]
      exclude: .+/settings/.+
      pass_filenames: true
    - id: prospector
      name: prospector-local
      entry: prospector --messages-only
      language: python
      types: [python]
      exclude: .+/settings/.+
      pass_filenames: true

  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [ file ]
        files: \.(html|sls)$
        language_version: python3.12
        additional_dependencies: ['click<8.1']
