[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()));"
ignore=.git,.cache,.venv

[MESSAGES CONTROL]
disable=all
enable=
    ; builtin pylint checks
    abstract-method
    anomalous-backslash-in-string
    bare-except
    broad-except
    consider-using-get
    consider-using-set-comprehension
    dangerous-default-value
    keyword-arg-before-vararg
    len-as-condition
    logging-not-lazy
    method-hidden
    no-self-argument
    raising-format-tuple
    redefined-outer-name
    relative-beyond-top-level
    super-init-not-called
    unreachable
    unused-import

[REPORTS]
output-format=text
reports=no
score=no
