django==5.1.7
django-compressor==4.5.1
django-modeltranslation==0.19.12
django-taggit==6.1.0
exifread==3.0.0
fakeredis>=2.27.0
gunicorn==23.0.0
ipython>=9.0.2
pillow==11.1.0
pip-check-updates>=0.27.0
pre_commit>=4.1.0
psycopg2-binary==2.9.10
pytest>=8.3.5
pytest-django>=4.10.0
sorl-thumbnail==12.11.0
uv>=0.6.6
