django==5.1.2
django-compressor==4.5.1
django-modeltranslation==0.19.10
django-taggit==6.1.0
exifread==3.0.0
fakeredis>=2.25.1
gunicorn==23.0.0
ipython>=8.28.0
pillow==11.0.0
pip-check-updates>=0.27.0
pre_commit>=4.0.1
psycopg2-binary==2.9.10
pytest>=8.3.3
pytest-django>=4.9.0
sorl-thumbnail==12.11.0
uv>=0.4.24
