body {
    font-family: 'Roboto', Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #333;
    background: #F6F6F6;
}

a {
    color: #b40303;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #666;
}

h1, h2 {
    margin-bottom: 0.15em;
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
    color: #333;
}

h4 {
    font-size: 1.3em;
}

h1 a,
h2 a,
h3 a {
    color: inherit;
}

p {
    margin: 1em 0;
    font-size: 1.3em;
    line-height: 1.2;
}

strong {
    font-weight: 500;
}

cite {
    display: flex;
    padding: 1.2em;
    color: #333;
    background: #ECECEC;
    font-size: 1.2em;
    line-height: 1.3;
}

ul,
ol {
    margin-left: 1em;
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ul li,
ol li {
    margin: 0.5em 0 0.5em 0.5em;
    line-height: 1.4;
}

input,
textarea {
    min-width: 300px;
    padding: 0.25em;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #CCC;
    background: #FFF;
}

input[type=text],
input[type=email],
input[type=password] {
    font-size: 1.2rem;
}

button {
    padding: 0.5em 2em;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    border: 1px solid #CCC;
    background: #CCC;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img.lazy {
    opacity: 0;
}

.hidden {
    display: none;
}

.mobile-visible {
    display: none !important;
}

.print-hidden {
    display: block;
}

.print-visible {
    display: none;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.shadow {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.static {
    padding: 2.5em 4em;
    background: #FFF;
}

.static h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
}

.static p,
.static li {
    line-height: 1.3;
    font-size: 1.2rem;
}

.static .description {
    flex-wrap: nowrap;
}

.static .content {
    margin-right: 2em;
}

.print a {
    cursor: pointer;
}

.tag {
    display: inline-block;
    margin: 0  0.25em 0.25em 0;
    line-height: 1.1;
    font-size: 0.95em;
    color: #666;
}

.tag:hover {
    color: #b40303;
}

.tag:before {
    content: '#';
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFF;
    z-index: 1000;
    transform: translate3d(0, -100%, 0);
    transition: transform .2s linear, background 1s ease, height .5s ease;
}

header.visible {
    transform: translateZ(0);
}

header nav {
    position: relative;
    padding: 1.4em 0 1.6em 0;
}

header nav i,
header nav .text {
    color: #666;
    text-transform: uppercase;
}

header nav .material-icons {
    position: relative;
    top: 3px;
    font-size: 18px;
}

header nav .text:hover {
    color: #b40303;
}

header nav .link-item {
    display: inline-block;
    min-width: 106px;
}

header .language {
    margin: 0 2em 0 0;
}

header .language .item.text {
    font-weight: 500;
}

header .language .item.text.active {
    font-weight: 400;
    color: #666;
    cursor: auto;
}

header .language .item.text.active:hover  {
    border-bottom: 0;
}

header .language .item.spacer {
    color: #666;
    margin: 0 0.25em;
    border: none;
    cursor: auto;
}

header .language .item.spacer:last-child {
    display: none;
}

header nav .user {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1.5em;
    margin: 0 0 0 0.5em;
    overflow: visible;
}

header nav .user a {
    position: absolute;
    top: -0.1em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    background: #CCC;
    overflow: hidden;
}

header nav .user a img {
    min-width: 100%;
    max-width: 100%;
}

header .mobile-menu-button {
    width: 1em;
    margin-left: 0.25em;
    cursor: pointer;
}

header .mobile-menu {
    position: fixed;
    display: none;
    top: 52px;
    min-width: 150px;
    padding: 0.2em 0;
    background: #FFF;
}

header .mobile-menu.open {
    display: block;
}

header .mobile-menu a,
header .mobile-menu .open-search {
    display: block;
    width: 175px;
    margin: 0 0.25em;
    padding: 0.5em 0.25em;
    color: #666;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: none;
}

header .mobile-menu .open-search {
    cursor: pointer;
}

header .mobile-menu a:hover,
header .mobile-menu a.active,
header .mobile-menu .open-search:hover {
    color: #666;
    text-decoration: none;
    background-color: #EFEFEF;
}

header .mobile-menu a:last-child {
    border-bottom: none;
}

header .breadcrumbs {
    color: #666;
}

header .breadcrumbs a {
    color: #666;
}

header .breadcrumbs a:hover {
    color: #b40303;
}

header .breadcrumbs .spacer {
    margin: 0.25em;
}

header .breadcrumbs .tag {
    margin: 0;
    font-size: 1em;
}

header .breadcrumbs .tag:hover {
    color: inherit;
}

header .breadcrumbs h1 {
    display: inline;
    margin: 0;
    font-size: 1em;
    text-transform: none;
    color: #666;
}

main {
    min-height: 490px;
    margin-top: 7em;
}

main .sidebar {
    margin-top: 2em;
}

main .sidebar .panel {
    margin-bottom: 1.5em;
}

main .sidebar h4 {
    margin-bottom: 0.5em;
}

main .sidebar ul {
    margin-left: 0;
    justify-content: flex-start;
}

main .sidebar li {
    display: inline-block;
    margin: 0.2em 0;
    list-style: none;
}

main .sidebar li a {
    color: #666;
}

main .sidebar li a:after {
    content: ', ';
}

main .sidebar li:last-child a:after {
    content: '';
}

main .sidebar .instagram {
    margin-bottom: 0.5em;
}

main .sidebar .instagram li {
    margin: 0.2em;
}

main .sidebar .instagram li a:after {
    content: '';
}

main .sidebar .social a {
    margin: 0 0.3em;
}

main .sidebar .social a img {
    width: 1.5em;
}

main .sidebar .social a img.smaller {
    width: 1.4em;
}


footer {
    margin: 5em 0 2em 0;
    color: #666;
    font-size: 0.9rem;
}

footer a {
    padding-right: 1em;
    text-transform: uppercase;
    color: #b40303;
}

footer a:hover, #footer a:active {
    text-decoration: underline;
}

footer #copy {
    float: right;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5000;
}

#loader.visible {
    display: block;
}

#loader div {
    position: relative;
    top: 45%;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    border-radius: 4px;
    background: transparent url(../svg/loader.svg) no-repeat 48% 48%;
}
