body {
    font-family: 'Roboto', Arial, Tahoma, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    background: #FAFAFA;
}

a {
    color: #b40303;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    color: #b40303;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    margin: 1em 0;
    line-height: 1.2;
}

strong {
    font-weight: 500;
}

cite {
    font-style: italic;
}

ul,
ol {
    margin-left: 1em;
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ul li,
ol li {
    margin: 0.5em 0;
    line-height: 1.2;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.static .image {
    float: right;
    margin: 0 0 1em 1em;
}