.home .posts {
    position: relative;
    margin-bottom: 2.5em;
}

.home .spacer {
    width: 90%;
    margin: 0 auto 2em auto;
    border-bottom: 1px solid #EEE;
}

.home .gallery {
    position: relative;
    margin: 0 0 3.5em 0;
}

.home .gallery .featured {
    position: relative;
}

.home .gallery .featured > a {
    display: block;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.home .gallery .featured > a img {
    min-width: 100%;
    max-width: 100%;
}

.home .gallery .featured .latest {
    position: absolute;
    left: 0.5rem;
    bottom: -0.5rem;
    height: 100px;
}

.home .gallery .featured .latest .thumbnail {
    display: block;
    min-width: 100px;
    max-width: 100px;
    margin-right: 0.5em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.home .gallery .featured .latest .thumbnail:last-child {
    margin-right: 0;
}

.home .gallery .featured .latest .thumbnail img {
    position: relative;
    right: 25%;
    display: block;
    min-height: 100%;
    max-height: 100%;
}