{% load i18n %}

<header class="visible">
    <nav class="container">
        <div class="flex">
            <div class="left">
                <a href="{% url 'index' %}" class="home" rel="home">
                    <span class="icon">
                        <i class="material-icons">settings_input_svideo</i>
                    </span>
                    <span class="text">
                        Manti.by
                    </span>
                </a>
            </div>
            <div class="right">
                <a href="{% url 'post_list' %}" rel="bookmark" class="link-item">
                    <i class="material-icons">play_arrow</i>
                    {% trans 'Music' %}
                </a>
                <a href="{% url 'gallery_list' %}" rel="bookmark" class="link-item">
                    <i class="material-icons">image</i>
                    {% trans 'Gallery' %}
                </a>
                <span class="language-menu" class="link-item">
                    {% for lang in LANGUAGES %}
                        {% if lang.0 != ACTIVE_LANGUAGE %}
                            <i class="material-icons">language</i>
                            <span class="language" data-id="{{ lang.0 }}">{{ lang.1 }}</span>
                        {% endif %}
                    {% endfor %}
                </span>
                <span class="mobile-menu-button">
                    <i class="material-icons">more_vert</i>
                </span>
            </div>
        </div>
    </nav>
    <nav class="mobile-menu hidden">
        <a href="{% url 'about' %}">{% trans 'About' %}</a>
        <a href="{% url 'resume' %}">{% trans 'My job' %}</a>
        <a href="{% url 'copyrights' %}">{% trans 'Copyrights' %}</a>
        <a href="mailto:manti.by@gmail.com">{% trans 'Contact' %}</a>
        <span class="search-button">{% trans 'Search' %}</span>
    </nav>
</header>