{% load static compress %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ META_TITLE }}{% endblock %}</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{% static 'img/favicon/android-desktop.png' %}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{% block ios-title %}{{ META_TITLE }}{% endblock %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/ios-desktop.png' %}">

        <meta name="description" content="{% block meta %}{{ META_DESCRIPTION }}{% endblock %}" />
        <meta name="yandex-verification" content="6765012bcd05fac2" />

        {% block open-graph %}
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ META_TITLE }}">
            <meta property="og:description" content="{{ META_DESCRIPTION }}">
            <meta property="og:image" content="{% static 'img/favicon.png' %}">
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto:300,400,500,600,700&subset=cyrillic"
              rel="stylesheet">

        <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.png' %}">

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/core.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" media="print">
            {% block styles %}{% endblock %}
        {% endcompress %}
    </head>
    <body>
        {% include 'common/analytics.html' %}

        <aside class="hidden">
            <div class="wrapper"></div>
        </aside>

        {% include 'common/header.html' %}

        <main>
            {% block content %}
                404 Not Found
            {% endblock %}
        </main>

        {% include 'common/footer.html' %}

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        {% compress js %}
            <script type="text/javascript" src="{% static 'js/widgets/header.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/widgets/language.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/libs/common.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
            {% block scripts %}{% endblock %}
        {% endcompress %}

        <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "MusicGroup",
            "name" : "Manti",
            "url" : "http://manti.by",
            "logo": "http://manti.by/content/images/logo.jpg",
            "sameAs" : [
                "https://soundcloud.com/manti_by",
                "https://twitter.com/manti_by",
                "http://promodj.com/manti.by"
            ]
        }
        </script>
    </body>
</html>