{% load static i18n %}

<div class="sidebar">
    <div class="tags panel">
        <h4>{% trans 'Popular tags' %}</h4>
        <ul>
            {% for t in tags %}
                <li><a href="{% url 'blog' %}?tag={{ t.slug }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="galleries panel">
        <h4>{% trans 'Latest posts' %}</h4>
        <ul>
            {% for p in posts %}
                <li><a href="{% url 'post' p.slug %}">{{ p.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="instagram panel">
        <h4>{% trans 'Instagram' %}</h4>
        <ul class="flex">
            {% for i in instagram_photos %}
                <li><a href="{{ i.link }}"><img src="{{ i.image }}" alt="{{ i.name }}" class="lazy" /></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="social panel">
        <a href="https://www.instagram.com/manti_by/" name="Instagram" target="_blank" rel="noopener">
            <img src="{% static 'svg/instagram.svg' %}" class="lazy" alt="Instagram" />
        </a>
        <a href="https://twitter.com/manti_by/" name="Twitter" target="_blank" rel="noopener">
            <img src="{% static 'svg/twitter.svg' %}" class="lazy" alt="Twitter" />
        </a>
        <a href="http://coub.com/manti.by" name="Coub" target="_blank" rel="noopener">
            <img src="{% static 'svg/coub.svg' %}" class="lazy" alt="Coub" />
        </a>
    </div>
</div>