{% load i18n %}

<div class="sidebar">
    <div class="tags panel">
        <h3>{% trans 'Popular tags' %}</h3>
        <ul>
            {% for t in tags %}
                <li><a href="{% url 'blog' %}?tag={{ t.slug }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="galleries panel">
        <h3>{% trans 'Latest posts' %}</h3>
        <ul>
            {% for p in posts %}
                <li><a href="{% url 'post' p.slug %}">{{ p.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="instagram panel">
        <h3>{% trans 'Instagram' %}</h3>
        <ul class="flex">
            {% for i in instagram_photos %}
                <li><a href="{{ i.link }}"><img src="{{ i.image }}" /></a></li>
            {% endfor %}
        </ul>
        <div class="profile">
            {% trans 'Profile' %}:
            <a href="https://www.instagram.com/manti_by/">@manti_by</a>
        </div>
    </div>
    <div class="social panel">
        <div class="twitter row">
            {% trans 'Twitter' %}:
            <a href="https://twitter.com/manti_by/">@manti_by</a>
        </div>
        <div class="coub row">
            {% trans 'Coub' %}:
            <a href="http://coub.com/manti.by">@manti.by</a>
        </div>
    </div>
</div>