<cite>
  Я творю только тогда, когда приходит муза. Если сидеть и специально выдавливать из себя, то и
  результат получится соответствующий...
</cite>
<p>
  Я родился и вырос в СССР, г.Новополоцк (Беларусь). Сейчас живу в Минске.
</p>
<p>
  Закончил музыкальную школу по классу фортепиано, 6 лет отбомбил в ударной группе духового оркестра.
</p>
<p>
  Потом университет ПГУ, программное обеспечение информационных и интернет технологий, т.е. я -
  программист, чем и зарабатываю себе на жизнь.
</p>
<p>
  Интерес к музыке возник где-то в году 1998. Сначала это было как у большинства моих друзей - Дельфин
  и Земфира, а потом меня понесло в другую от всех сторону - Freestylers, Bomfunk MC's,
  потом The Prodigy, Scooter, Chemical Brothers и т.д.
</p>
<p>
  По сути люблю Deep, Noise, Drum, Minimal и еще кучу других направлений и стилей, также и играю,
  почти все, что нравится.
</p>
<p>
  Поворотные музыкальные моменты в жизни - Richie Hawtin, Lator, а с утра Слава Финист. Отсюда и
  началась эпопея с теч хаузом и минималом. Дальше был Dj Bes на пару с Noisia. Немаловажными в
  формировании вкуса были поездки на КаZАнтип в 2005-м, 2006 и 2009 годах.
</p>
<p>
  Позже был лес, Olien, Goa Gil - так я познакомился и заинтересовался психоделикой. После чего и
  родился двойник Janaca Express, который в последствии был отыгран "в живую" в лесу.
</p>
<p>
  Долгое время очень интересовал драм, а точнее Techstep и Neurofunk. Два основных фактора, повлиявших
  на это - первых 56 релизов лэйбла "Subtitles" и творчество монстра даркстепа - Current Value. На
  данный момент это направление не потеряно, а развивается параллельно в подземных лабораториях.
</p>
<p>
  Последние годы все больше возвращаюсь в чиллаут и хип-хоп. Хауз и его техничное направление вместе с
  исконным техно и минималом, переехал практически полностью на винил. Иногда и с них пыль сдуваю и
  пополняю коллекцию чем-то свежим.
</p>
<p>
  На новый 2012-й год сделал себе подарок - собрал комплект трактора, чему был несказанно рад. Сейчас и
  использую преимущественно его.
</p>
<p>
  <strong>Люблю</strong>: Виниловые пластинки, рупорный аналоговый звук, полноформатные фотоаппараты,
  Sony и Adidas.
</p>
<p>
  <strong>Ненавижу</strong>: Телефон и беспорядок.
</p>
<p>
  <strong>Рекомендую</strong>: Стивен Содерберг, Трудности перевода, Пол Экман.
</p>
<p>
  <strong>Интересуюсь</strong>: Музыка, акустика, фотография, космос.
</p>
<p>
  <strong>Знаю</strong>: Несколько языков программирования, нотную грамоту и сольфеджио.
</p>
<p>
  <strong>Умею</strong>: Есть два понятия - хочу и мне лень, а про то что я пока не умею, мне
  расскажет гугл.
</p>