<cite>
  Я ствараю толькі тады, калі прыходзіць муза. Калі сядзець і спецыяльна выціскаць з сябе, то і вынік атрымаецца
  адпаведны...
</cite>
<p>
  Я нарадзіўся і вырас у СССР, г.Наваполацк (Беларусь). Зараз жыву ў Мінску.
</p>
<p>
  Скончыў музычную школу па класе фартэпіяна, 6 гадоў адбамбіл ва ўдарнай групе духавога аркестра.
</p>
<p>
  Потым універсітэт ПДУ, праграмнае забеспячэнне інфармацыйных і інтэрнэт тэхналогій, г.зн. я - праграміст,
  чым і зарабляю сабе на жыццё.
</p>
<p>
  Цікавасць да музыкі паўстала дзесьці ў годзе 1998. Спачатку гэта было як у большасці маіх сяброў - Дэльфін і Земфіра,
  а потым мяне панесла ў іншы ад усіх бок - Freestylers, Bomfunk MC's, потым The Prodigy, Scooter,
  Chemical Brothers і г.д.
</p>
<p>
  Па сутнасці люблю Deep, Noise, Drum, Minimal і яшчэ кучу іншых напрамкаў і стыляў, таксама і гуляю, амаль усё, што
  падабаецца.
</p>
<p>
  Паваротныя музычныя моманты ў жыцці - Richie Hawtin, Lator, а з раніцы Слава Фініст. Адсюль і пачалася эпапея
  з тэч хаўзам і мінімалам. Далей быў Dj Bes на пару з Noisia. Немалаважная ў фарміраванні густу быў паездкі на
  КаZантип ў 2005-м, 2006 і 2009 гадах.
</p>
<p>
  Пазней быў лес, Olien, Goa Gil - так я пазнаёміўся і зацікавіўся псіхадэлікай. Пасля чаго і нарадзіўся двайнік
  Janaca Express, які ў наступстве быў адыграны "у жывую" у лесе.
</p>
<p>
  Доўгі час вельмі цікавіў драм, а дакладней Techstep і Neurofunk. Два асноўных фактары, якія паўплывалі на гэта -
  56 Першых рэлізаў на лэйбле "Subtitles" і творчасць монстра даркстепа - Current Value. На дадзены момант гэты
  кірунак не страчаны, а развіваецца паралельна ў падземных лабараторыях.
</p>
<p>
  Апошнія гады ўсё больш вяртаюся ў чылаўт і хіп-хоп. Хаўз і яго тэхнічны напрамак разам з спрадвечным тэхна і
  мінімалам, пераехаў практычна цалкам на вініл. Часам і з іх пыл сдуваю і папаўняю калекцыю чымсьці свежым.
</p>
<p>
  На новы 2012-ы год зрабіў сабе падарунак - сабраў камплект трактара, чаму быў невымоўна рады. Цяпер і
  выкарыстоўвае пераважна яго.
</p>
<p>
  <strong>Люблю:</strong> Вінілавыя пласцінкі, рупорны аналагавы гук, поўнафарматныя фотаапараты,
  Sony і Adidas.
</p>
<p>
  <strong>Ненавіджу:</strong> Тэлефон і беспарадак.
</p>
<p>
  <strong>Рэкамендую:</strong> Стывен Содэрберг, Цяжкасці перакладу, Пол Экман.
</p>
<p>
  <strong>Цікаўлюся:</strong> Музыка, акустыка, фатаграфія, космас.
</p>
<p>
  <strong>Ведаю:</strong> Некалькі моў праграмавання, нотную грамату і сальфеджыа.
</p>
<p>
  <strong>Ўмею:</strong> Ёсць два паняцці - хачу і мне лянотна, а пра тое што я пакуль не ўмею, мне раскажа гугл.
</p>