<p>
    <cite>I create only when the muse comes. If you sit and deliberately squeeze out of yourself, then
    the result will be appropriate...</cite>
</p>
<p>
    I was born and raised in the USSR, Novopolotsk (Belarus). Now I live in Minsk.
</p>
<p>
    He graduated from music school in piano, 6 years of bombing in the percussion group of a brass
    band.
</p>
<p>
    Then the University of PGU, the software of information and Internet technologies, i.e. I am a
    programmer, and I earn my living.
</p>
<p>
    Interest in music arose sometime in the year '98. At first it was like most of my friends - Dolphin
    and Zemfira, and then I was carried to another side - Freestylers, Bonfunk MC's, then The Prodigy,
    Scooter, Chemical Brothers, etc.
</p>
<p>
    In fact, I love Deep, Noise, Drum, Minimal and a bunch of other directions and styles, and I also
    play, almost everything that I like.
</p>
<p>
    Turning musical moments in life - Richie Hawtin, Lator, and in the morning Glory Finist. Hence the
    epic with the tech house and the minimum began. Next was Bes (Dj Bes) on a pair with Noisia.
    Important in the formation of taste were trips to Kazantip in '05, '06 and '09.
</p>
<p>
    Later there was a forest, Olien, Goa Gil - so I met and became interested in psychedelic. After that
    the double Janaca Express was born, which later was played "live" in the forest.
</p>
<p>
    For a long time I was very interested in dramas, more precisely Techstep and Neurofunk. The two main
    factors that influenced it - the first 56 releases of the label "Subtitles" and the creativity of
    the monster of the darkstep - Current Value. At the moment, this direction is not lost, but develops
    in parallel in underground laboratories.
</p>
<p>
    In recent years, I'm returning to chill out and hip-hop. House and its technical direction along with
    the original techno and minimal, has moved almost completely to vinyl. Sometimes I blow off the dust
    and replenish the collection with something fresh.
</p>
<p>
    For a new 12th year I made myself a gift - I collected a set of a tractor, which was inexpressibly
    happy. Now I mostly use it.
</p>
<p>
    <strong>I love</strong>: Vinyl records, horn analog sound, full-size cameras, Sony and Adidas.
</p>
<p>
    <strong>I hate</strong>: Phones and the mess.
</p>
<p>
    <strong>Recommend</strong>: Steven Soderbergh, Translation difficulties, Paul Ekman.
</p>
<p>
    <strong>Interested in</strong>: Music, acoustics, photography, space.
</p>
<p>
    <strong>I know</strong>: Several programming languages, music notation and solfeggio.
</p>
<p>
    <strong>I know</strong>: There are two concepts - I want and I'm lazy, but about what I do not know
    yet, I will tell Google.
</p>