<p>
    <cite>Я ствараю толькі тады, калі прыходзіць муза. Калі сядзець і спецыяльна выціскаць з сябе, то і вынік атрымаецца адпаведны ...</cite>
</p>
<p>
    Я нарадзіўся і вырас у СССР, г.Наваполацк (Беларусь). Зараз жыву ў Мінску.
</p>
<p>
    Скончыў музычную школу па класе фартэпіяна, 6 гадоў адбамбілася ва ўдарнай групе духавога аркестра.
</p>
<p>
    ПОТЫМ універсітэт ПДУ, праграмнае забеспячэнне інфармацыйных і інтэрнэт тэхналогій, г.зн. я - праграміст, чым і зарабляе сабе на жыццё.
</p>
<p>
    Цікавасць да музыкі паўстаў дзесьці ў годзе '98. Спачатку гэта было як у большасці маіх сяброў - Дэльфін і Земфіра, а потым мяне панесла ў іншую ад усіх - Freestylers бок, Bonfunk эмси, потым The Prodigy, Scooter, Chemical Brothers і г.д.
</p>
<p>
    Па сутнасці люблю Deep, шум, Drum, Minimal і яшчэ кучу іншых напрамкаў і стыляў, таксама і гуляю, амаль усё, што падабаецца.
</p>
<p>
    Паваротныя музычныя моманты ў жыцці - Рычы Хоцін, гетэрадзіна, а з раніцы Слава Фініст. Адсюль і пачалася эпапея з теч хаўз і мінімалам. Далей быў Бес (Dj Bes) на пару з Noisia. Немалаважная ў фарміраванні густу быў паездкі на КаZантип ў '05, '06 і '09 гадоў.
</p>
<p>
    Пазней быў лес, Olien, Goa Gil - так я пазнаёміўся і зацікавіўся псіхадэлікай. Пасля чаго і нарадзіўся двайнік Janaca Express, які ў наступстве быў адыграны "у жывую" у лесе.
</p>
<p>
    Доўгі час вельмі цікавіў драм, а дакладней Techstep і Neurofunk. Два асноўных фактару, якія паўплывалі на гэта - 56 Першых рэлізаў лэйбле "Субтытры" і творчасць Монстры даркстепа - бягучае значэнне. На дадзены момант гэты кірунак не страчана, а развіваецца паралельна ў падземных лабараторыях.
</p>
<p>
    Апошнія гады ўсё больш вяртаюся ў чылаўт і хіп-хоп. Хаўз і яго тэхнічнасць кірунку разам з спрадвечных тэхна і мінімалам, пераехаў практычна цалкам на вініл. Часам і сняя пыл сдувает і папаўняе калекцыя чымсьці свежае.
</p>
<p>
    На новы 12-ы год зрабіў сабе падарунак - сабраў камплект трактара, чаму быў невымоўна рады. Цяпер і выкарыстоўвае пераважна яго.
</p>
<p>
    <strong>Любіць:</strong> Вінілавыя пласцінкі, рупорные аналагавы гук, поўнафарматны фотаапараты, Sony і Adidas.
</p>
<p>
    <strong>Ненавіджу:</strong> Тэлефон і беспарадак.
</p>
<p>
    <strong>Рэкамендую:</strong> Стывен Содэрберг, Цяжкасці перакладу, Пол Экман.
</p>
<p>
    <strong>Цікаўлюся:</strong> Музыка, акустыка, фатаграфія, космас.
</p>
<p>
    <strong>Ведаю:</strong> Некалькі моў праграмавання, нотную грамату і сальфеджыа.
</p>
<p>
    <strong>Ўмею:</strong> Ёсць два паняцці - хачу і мне лянота, а пра тое што я не ўмею пакуль, мне раскажа гугл.
</p>