<p>
    <strong>
        When using materials from this site, a link to the site, the author and the source is required.
    </strong>
</p>
<p>
    Information for rights holders
</p>
<p>
    If you are the copyright owner of any material, the link (or links) to which is posted on this site,
    and would not want this information to be distributed by users without your consent, we will be
    happy to assist you by removing the appropriate links.
</p>
<p>
    For this it is necessary that you send us a letter (in electronic form) in which you indicated to us
    the following information:
</p>
<ol>
    <li>Documentary evidence of your rights to material protected by copyright:
        <ul>
            <li>
                A scanned document with a print, or
            </li>
            <li>
                Email from the company's official email domain, or
            </li>
            <li>
                Other contact information that allows you to uniquely identify you as the copyright
                owner of this material.
            </li>
        </ul>
    </li>
    <li>
        The text that you wish to place with the deleted information. In it you can specify where and
        under what conditions you can get the information, the links to which have been deleted, as well
        as your contact information, so that users can get from you all the information they are
        interested in regarding this material.
    </li>
    <li>
        Direct links to the pages of the site that contain links to the data that you want to delete.
        Links should be in the form <a href="https://manti.by">https://manti.by/xxxx/</a> or similar.
    </li>
    <li>
        After that, within 48 hours, we will remove the links you are interested in from the site.
    </li>
</ol>
<p>
    <strong>
        ATTENTION!!!
    </strong>
</p>
<p>
    We reserve the right to publish on the website any information sent to us by mail through the
    feedback form.
</p>
<p>
    We do not monitor the actions of users who can re-post links to information that is subject to your
    copyright. In any case, we will consider all your requests regarding references to information that
    violates your rights.
</p>
<p>
    According to the Law on Copyright and Neighboring Rights, the reference to any data (information
    message), in itself, is not subject to copyright. Thus, it is not necessary to send letters
    containing threats or demands, as having no real basis.
</p>