<p>
    <strong>
        Пры выкарыстанні матэрыялаў з дадзенага сайта, абавязковая спасылка на сайт, аўтара і першакрыніцу.
    </strong>
</p>
<p>
    Інфармацыя для праваўладальнікаў
</p>
<p>
    Калі Вы з'яўляецеся праваўладальнікам якога-небудзь матэрыялу, спасылка (альбо спасылкі) на які размешчана на гэтым сайце, і не жадалі б каб дадзеная інфармацыя распаўсюджвалася карыстальнікамі без Вашага на тое згоды, то мы будзем рады аказаць Вам садзейнічанне, выдаліўшы адпаведныя спасылкі.
</p>
<p>
    Для гэтага неабходна, каб вы даслалі нам ліст (у электронным выглядзе) у якім паказалі нам наступную інфармацыю:
</p>
<ol>
    <li>
        Дакументальнае пацверджанне вашых правоў на матэрыял, абаронены аўтарскім правам:
        <ul>
            <li>
                Адсканаваны дакумент з пячаткай, альбо
            </li>
            <li>
                Email з афіцыйнага паштовага дамена кампаніі праваўладальніка, альбо
            </li>
            <li>
                Іншая кантактная інфармацыя, якая дазваляе адназначна ідэнтыфікаваць вас, як праваўладальніка дадзенага матэрыялу.
            </li>
        </ul>
    </li>
    <li>
        Тэкст які Вы жадаеце размясціць у суправаджэнні выдалянай інфармацыі. У ім вы можаце паказаць дзе, і на якіх умовах можна атрымаць інфармацыю, спасылкі на якую былі выдаленыя, а так жа вашы кантактныя дадзеныя, для таго каб карыстальнікі маглі атрымаць ад вас ўсю патрэбную інфармацыю адносна дадзенага матэрыялу.
    </li>
    <li>
        Прамыя спасылкі на старонкі сайта, якія ўтрымліваюць спасылкі на дадзеныя, якія неабходна выдаліць.
        Спасылкі павінны мець выгляд <a href="https://manti.by">https://manti.by/xxxx/</a> альбо падобны.
    </li>
</ol>
<p>
    Пасля гэтага, у плыні 48 гадзін, мы выдалім цікавяць Вас спасылкі з сайта.
</p>
<p>
    <strong>УВАГА !!!</strong>
</p>
<p>
    Мы пакідаем за сабой права публікацыі на сайце любой інфармацыі дасланай нам па пошце праз форму зваротнай сувязі.
</p>
<p>
    Мы не ажыццяўляем кантроль за дзеяннямі карыстальнікаў, якія могуць паўторна размяшчаць спасылкі на інфармацыю, якая з'яўляецца аб'ектам вашага аўтарскага права. Мы ў любым выпадку разгледзім усе Вашы запыты, адносна спасылак на інфармацыю, якая парушае Вашыя правы.
</p>
<p>
    Згодна з законам аб аўтарскіх і сумежных правах, спасылка на любыя дадзеныя (інфармацыйнае паведамленне), сама па сабе, не з'яўляецца аб'ектам аўтарскага права. Такім чынам, не варта дасылаць лісты змяшчаюць пагрозы небудзь патрабаванні, як бы ня мелі пад сабой рэальных падставаў.
</p>