<p>
    <cite>
        - А как ты начал изучать электронику?<br>
        - Как-то лет в 12 я нашел старый трансформатор, слегка его перемотал и включил. Энергосистема
        опознала нового радиотехника и приветливо моргнула всем домом. Вот так и начал...
    </cite>
</p>
<p>
    <strong>Кратко о себе:</strong>
</p>
<p>
    Высшее техническое образование по специальности инженер-программист со специализацией информационные
    и интернет технологии.
</p>
<p>
    Коммуникабельность, умение работать в команде, технический английский, грамотная речь, эмоциональная
    выдержка, большой опыт общения с клиентами (от пенсионеров до высоких должностных лиц), крепкое
    здоровье, без вредных превычек.
</p>
<p>
    Без проблем работаю как на windows платформе, так и на linux платформах. Неплохо владею пакетом
    Adobe Photoshop.
</p>
<p>
    <strong>Основные сведения:</strong>
</p>
<ul>
    <li>
        Более чем 12-летний практический (8-летний коммерческий) опыт разработки web-приложений от
        стадии постановки задачи до запуска работающего проекта.
    </li>
    <li>
        Высоконагруженные приложения со сложной архитектурой и пропускной способностью более чем
        5000rps. Горизонтальное и вертикальное масштабирование.
    </li>
    <li>
        Знание, понимание и практическое использование ООП, шаблоны проектирования.
    </li>
    <li>
        Грамотное оформление кода (иерархия, описание, комментарии), умение читать и понимать чужой код,
        в т.ч. "плохой", асинхронный и декомпилированный.
    </li>
    <li>
        Оптимизация существующего кода: Python, PHP, JS, SQL (Join/Union/Proc), HTML/CSS (контексты,
        шаблонизация, анимация), кеширование на различных уровнях MVC. Интерфейсы и прототипирование,
        составление технической документации по проекту.
    </li>
    <li>
        Администрирование и запуск серверов: LAMP (Ubuntu, Centos), WAMP (Windows Server). Apache/Nginx
        + Python, PHP (uWSGI, Gunicorn, Mod FCGI, CLI) + Memcache/Redis + MySQL/PostgreSQL/MongoDB,
        высокий уровень владения bash терминалом.
    </li>
    <li>
        Зависимости - Pip/Composer/NPM, отладка и профилирование кода, системы контроля версий
        - SVN/GIT/Mercurial, ветвление, слияние, откаты и т.п.
    </li>
</ul>
<p>
    <strong>Профессиональные знания и навыки:</strong>
</p>
<ul>
    <li>
        Языки программирования: Python 5лет, JS 10лет, HTML/CSS 12лет, PostgreSQL 3года, PHP 7лет,
        MySQL 7лет, Redis, Mongo, NodeJS, Ruby On Rails, .NET MVC.
    </li>
    <li>
        Сервисы: Google/Facebook/Yandex API, Salesforce, Authorize.net, Sailthru, Mandrill/Mailchimp,
        SOAP/REST, OAuth.
    </li>
    <li>
        Библиотеки: Django, Yii, YUI/AlloyUI, React, jQuery, Angular, Zend, Doctrine, Slim, Rails,
        Magento, Wordpress, OpenCart и др.
    </li>
    <li>
        Участие в проектах: Artspace.com, Architizer.com, Aprenita.com, AHALife.com, eTouches.com,
        Blismobile.com, LYF.com, DealOn.com, CityHint.com, 3Key.com, NOICentral.com и другие.
    </li>
</ul>