<cite>
    - How did you start studying electronics?<br>
    - Some years at 12, I found an old transformer, rewound it slightly and turned it on. Power
    system recognized the new radio technologist and blinked in a friendly way with the whole house.
    That's how it began...
</cite>
<p>
    <strong>Briefly about yourself: </strong>
</p>
<p>
    Higher technical education in the specialty of software engineer with specialization
    Information and Internet Technology.
</p>
<p>
    Sociability, teamwork, technical English, literate speech, emotional endurance, extensive
    experience with clients (from pensioners to senior officials), strong health, without harmful excess.
</p>
<p>
    I work without problems on Windows platforms, as well as on Linux. High skills in Adobe Photoshop package.
</p>
<p>
    <strong>Basics: </strong>
</p>
<ul>
    <li>
        More than 12 years of practical (8-year commercial) experience in developing web-applications
        from the stage of setting the task before the launch of a working project.
    </li>
    <li>
        Highload applications with complex architecture and bandwidth more than 5000rps.
        Horizontal and vertical scaling.          
    </li>
    <li>
        Knowledge, understanding and practical use of OOP, design patterns.
    </li>
    <li>
        Proper code formalization (hierarchy, description, comments), the ability to read and understand
        someone else's code, also known as "smell", asynchronous and decompiled.
    </li>
    <li>
        Optimization of existing code: Python, PHP, JS, SQL (Join/Union/Proc), HTML/CSS
        (contexts, templates, animation), caching at various levels of MVC.
        Interfaces and prototyping, drafting technical documentation for the project.
    </li>
    <li>
        Administration and startup of servers: LAMP (Ubuntu, Centos), WAMP (Windows Server).
        Apache/Nginx + Python, PHP (uWSGI, Gunicorn, Mod FCGI, CLI) + Memcache/Redis +
        MySQL/PostgreSQL/MongoDB, high level of knowledge bash shell.
    </li>
    <li>
        Dependencies - PIP/NPM/Composer, Docker/Vagrant, debugging and code profiling, version control
        systems - SVN/GIT/Mercurial, branching, merging, rollbacks, etc.
    </li>
</ul>
<p>
    <strong>Professional knowledge and skills: </strong>
</p>
<ul>
    <li>
        Programming languages: Python 5years, JS 10years, HTML/CSS 12years, PostgreSQL 3years,
        PHP 7years, MySQL 7years, Redis, Mongo, NodeJS, Ruby On Rails, .NET MVC.
    </li>
    <li>
        Services: Google/Facebook/Yandex API, Salesforce, Authorize.net, Sailthru, Mandrill/Mailchimp,
        SOAP/REST, OAuth.                    
    </li>
    <li>
        Libraries: Django, Flask, Yii, React, VueJS, YUI/AlloyUI, jQuery, Angular, Zend, Doctrine, Slim, Rails,
        Magento, Wordpress, OpenCart and others.
    </li>
</ul>