{% extends 'base.html' %}

{% load static i18n %}

{% block content %}
    <div class="container resizer">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col mdl-cell--1-offset-tablet
                        mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <form class="login" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <h3>{% trans 'Please login or register' %}</h3>
                    <p class="info">
                        {% trans 'Your profile will be created automatically, if necessary' %}
                    </p>
                    <div class="error-holder">{{ error }}</div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="email" name="email">
                        <label class="mdl-textfield__label" for="email">{% trans 'Email' %}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                        <label class="mdl-textfield__label" for="password">{% trans 'Password' %}</label>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            {% trans 'Let Me In' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}