{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Your profile' %}{% endblock %}
{% block meta %}{% trans 'Your profile' %}{% endblock %}

{% block content %}
    <div class="profile container resizer">
        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{% trans 'Your profile' %}</h2>
            <div class="row error">{{ error }}</div>

            <div class="flex">
                <div class="image">
                    <img src="{{ profile.image }}">
                    <div class="notice">
                        {% trans 'To update your profile image, please upload new one' %}.
                    </div>
                </div>

                <div class="info">
                    <div class="row">
                        <label for="username">{% trans 'Username' %}</label>
                        <input type="text" id="username" name="username" value="{{ profile.user.username }}">
                    </div>

                    <div class="row">
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email" id="email" name="email" value="{{ profile.user.email }}">
                    </div>

                    <div class="row">
                        <label for="image">{% trans 'Image' %}</label>
                        <input type="file" id="image" name="image">
                    </div>

                    <div class="row buttons">
                        <button type="submit">
                            {% trans 'Update' %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/profiles/profile.css' %}" media="all">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/widgets/resizer.js' %}"></script>
{% endblock %}