{% load i18n thumbnail common_tags %}

<div class="post shadow" data-id="{{ item.id }}">
    <div class="image">
        <a href="{% url 'post' item.slug %}">
            {% thumbnail item.cover "x400" as image %}
                {% thumbnail item.cover "x50" as thumb %}
                    <img src="{{ thumb.url }}"
                         data-src="{{ image.url }}"
                         data-webp="{% webp_cover image %}"
                         alt="{{ item.name }}" class="lazy">
                {% endthumbnail %}
            {% endthumbnail %}
        </a>
    </div>
    <div class="info">
        <div class="wrap">
            <h3>
                <a href="{% url 'post' item.slug %}">
                    {{ item.name }}
                </a>
            </h3>
            <div class="genre">
                {{ item.genre.all|join:", " }}
            </div>
            <div class="created">
                {{ item.created|date:DATE_FORMAT }}
            </div>
        </div>
    </div>
</div>