.mobile-slider {
    position: relative;
    touch-action: none;
    overflow: visible;
    padding-bottom: 1.5em;
}

.mobile-slider .controls {
    position: absolute;
    bottom: 0;
    display: none;
    width: calc(100% / 3);
}

.mobile-slider .controls ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.mobile-slider .controls li {
    margin: 0 0.1em;
    list-style: none;
    color: #999;
    cursor: pointer;
    font-size: 2em;
    line-height: 0.5em;
}

.mobile-slider .controls li.active {
    color: #b40303;
}

.mobile-slider .controls .prev,
.mobile-slider .controls .next {
    position: absolute;
    bottom: 150px;
    color: #FFF;
    cursor: pointer;
}

.mobile-slider .controls .next {
    left: 90%;
}

@media only screen and (max-width: 767px) {
   .mobile-slider {
        width: 311%;
        flex-wrap: nowrap;
   }

    .mobile-slider .controls {
        display: block;
    }

   .featured .mobile-slider .post {
        width: 32%;
   }
}