#player {
    width: 985px;
    float: left;
    margin: 6px 0 4px 0;
}

#player .controls {
    margin-top: 5px;
}

.player {
    position: relative;
    width: 350px;
}

.player div {
    display: inline-block;
    vertical-align: top;
}

.player .button {
    width: 16px;
    height: 16px;
    margin: 0 1px;
    cursor: pointer;
    background: url(../img/shape-player.png) no-repeat;
    opacity: 0.9;
}

.player .button:hover {
    opacity: 1;
}

.player .play {
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

.player .pause {
    background-position: 0 -24px;
    width: 24px;
    height: 24px;
}

.player .next-track {
    background-position: -0px -64px;
    margin-top: 4px;
}

.player .prev-track {
    background-position: -0px -48px;
    margin-top: 4px;
}

.player .progressbar {
    position: relative;
    margin: 0 5px;
    color: #999;
    text-align: right;
    cursor: pointer;
}

.player .progressbar .progress-line,
.player .progressbar .progress-line-loaded,
.player .progressbar .progress-line-active {
    position: absolute;
    top: 7px;
    left: 0;
    height: 4px;
}

.player .progressbar .progress-line {
    width: 100%;
    background: #999;
}

.player .progressbar .progress-line-loaded {
    width: 0;
    background: #3C0;
    z-index: 5;
    cursor: pointer;
}

.player .progressbar .progress-line-active {
    width: 0;
    background: #b40303;
    z-index: 10;
}

.player .progressbar .progress-line-label {
    font-size: 11pt;
}

.player .position {
    width: 410px;
    margin-top: 3px;
}

.player .progressbar.position .progress-line {
    width: 350px;
}

.player .progressbar.position .progress-line-loaded {
    width: 345px;
}

.player .progressbar.position .progress-line-label {
    width: 55px;
}

.player .volume {
    width: 165px;
    margin-top: 3px;
}

.player .progressbar.volume .progress-line {
    width: 135px;
}

.player .progressbar.volume .progress-line-label {
    width: 30px;
    font-size: 11pt;
}

.player .now-playing {
    padding: 0;
    margin: 0 5px;
    width: 190px;
    text-align: left;
    font-size: 12pt;
    overflow: hidden;
    color: #ECECEC;
}

.player .now-playing a {
    display: block;
    position: relative;
    height: 35px;
    text-decoration: none !important;
    overflow: hidden;
}

.player .now-playing a span.image-wrapper {
    position: absolute;
    padding-right: 5px;
    background: #FFF;
    z-index: 100;
}

.player .now-playing a span.title-wrapper {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 38px;
    white-space: nowrap;
    color: #999;
    z-index: 10;
}

.player .high-definition {
    cursor: pointer;
    text-decoration: line-through;
    color: #999;
}

.player .high-definition:hover, .player .high-definition.active {
    color: #b40303;
    text-decoration: none;
}

#player .now-playing {
    width: 230px;
    margin: 0 0 0 21px;
}

#player .close {
    top: 7px;
    right: -48px;
    color: #999;
    cursor: pointer;
}

#player .close i {
    font-size: 16pt;
}

.player.inline {
    position: relative;
    height: 24px;
    padding: 3px;
    width: 330px;
    background: #DEDEDE;
    border-radius: 4px;
}

.player.inline .progressbar .progress-line,
.player.inline .progressbar .progress-line-loaded,
.player.inline .progressbar .progress-line-active {
    top: 8px;
}

.player.inline .progressbar .progress-line-label {
    padding-top: 1px;
}

.player.inline .position {
    width: 282px;
}

.player.inline .progressbar.position .progress-line {
    width: 227px;
}

.player.inline .progressbar.position .progress-line-loaded {
    width: 0;
    background: #3C0;
}

.player.inline .progressbar.position .progress-line-label {
    width: 50px;
    text-align: right;
}

.player.inline .progressbar.position .progress-line {
    width: 227px;
}

.player.inline .progressbar.position .progress-line-loaded {
    width: 0;
    background: #3C0;
}

.player.inline .progressbar.position .progress-line-label {
    width: 50px;
    text-align: right;
}

.player.inline .volume {
    width: 70px;
}

.player.inline .progressbar.volume .progress-line {
    width: 40px;
}

.player.inline .progressbar.volume .progress-line-label {
    width: 30px;
    text-align: right;
}