.wrapper {
    border: none;
    width: 700px;
    margin: 0;
}

.static,
.container {
    margin-top: 1em !important;
}

aside, header, footer, .right-sidebar, .print {
    display: none !important;
}

main {
    margin-top: 0;
}

.relation {
    width: auto;
    height: auto;
    float: none;
}

.relation .title {
    display: inline;
    bottom: 0;
    background: none;
}

.relation .small-cover {
    display: none;
}

.print-hidden {
    display: none;
}

.print-visible {
    display: block;
}

cite {
    border: 1px solid #CCC;
}
