#search {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFF;
    z-index: 2000;
    transform: translate3d(0, -100%, 0);
    transition: transform .2s linear, background 1s ease, height .5s ease;
}

#search.visible {
    transform: translateZ(0);
}

#search .container {
    position: relative;
    padding: 1.4em 0 1.6em 0;
}

#search .flex {
    justify-content: center;
}

#search input {
    width: 40%;
    margin-right: 1em;
    border: none;
    border-bottom: 1px solid #CCC;
}

#search .submit-search {
    position: relative;
    top: 0.25em;
    color: #666;
    cursor: pointer;
}

#search .close-search {
    position: absolute;
    top: 1.7em;
    right: 0;
    font-size: 1em;
    color: #666;
    cursor: pointer;
}

#search .search-result {
    position: absolute;
    /* border: 1px solid #EEE; */
    background: #FFF;
}

#search .search-result ul {
    margin: 0;
    padding: 0.5em;
}

#search .search-result li {
    margin: 0;
    padding: 0.2em;
    list-style: none;
}

#search .search-result li:hover {
    background: #EEE;
}
