.featured .post {
    width: 32%;
    margin-bottom: 0;
}

.featured .post:last-child {
    margin-bottom: 0;
}

.featured .post .image {
    width: 100%;
    min-height: 220px;
}

.featured .post .image a img {
    min-width: 100%;
    max-width: 100%;
}

.featured .post .info {
    font-size: 1em;
}

.featured .post .info .wrap {
    padding: 1em 0 0.5em 0;
}

.featured .post .info h3 {
    margin: 0 0 0.35rem 0;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
}

.featured .post .info h3 a {
    display: block;
    color: #333;
}

.featured .post .info .created {
    margin-top: 0.35em;
    text-transform: capitalize;
    color: #666;
}

@media (prefers-color-scheme: dark) {
    .featured .post .info h3 a {
        color: #999;
    }

    .featured .post .info .created {
        color: #333;
    }
}