[Unit]
Description=Manti.by app
After=network.target

[Service]
User=manti
Group=www-data
Restart=always
WorkingDirectory=/home/manti/www/manti.by/dist
ExecStart=/home/manti/www/manti.by/dist/app
StandardOutput=file:/mnt/nostromo/www/manti.by/log/app.log
StandardError=file:/mnt/nostromo/www/manti.by/log/app-error.log

[Install]
WantedBy=multi-user.target
