{% load static compress i18n common_tags %}
<!DOCTYPE html>
<html lang="{{ ACTIVE_LANGUAGE }}">
    <head>
        <title>{% block title %}{{ META_TITLE }}{% endblock %}</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <link rel="manifest" href="{% static "manifest.json" %}" />
        <meta name="theme-color" content="#B40303" />

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="48x48" href="{% webp_static "img/logo/48.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="72x72" href="{% webp_static "img/logo/72.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="96x96" href="{% webp_static "img/logo/96.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="144x144" href="{% webp_static "img/logo/144.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="192x192" href="{% webp_static "img/logo/192.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="256x256" href="{% webp_static "img/logo/256.png" %}" />
        <link rel="icon" type="{% rel_webp_png %}" sizes="512x512" href="{% webp_static "img/logo/512.png" %}" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="48x48"
              href="{% webp_static "img/logo/48.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="72x72"
              href="{% webp_static "img/logo/72.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="96x96"
              href="{% webp_static "img/logo/96.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="144x144"
              href="{% webp_static "img/logo/144.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="192x192"
              href="{% webp_static "img/logo/192.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="256x256"
              href="{% webp_static "img/logo/256.png" %}" />
        <link rel="apple-touch-icon" type="{% rel_webp_png %}" sizes="512x512"
              href="{% webp_static "img/logo/512.png" %}" />

        <meta name="description" content="{% block meta %}{{ META_DESCRIPTION }}{% endblock %}" />
        <meta name="yandex-verification" content="6765012bcd05fac2" />

        {% block open-graph %}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ META_TITLE }}" />
        <meta property="og:description" content="{{ META_DESCRIPTION }}" />
        <meta property="og:image" content="{% webp_static 'img/share.jpg' %}" />
        {% endblock %}

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/common/reset.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/font.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/common/player.css' %}">
            {% block styles %}{% endblock %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/responsive/1600.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/responsive/1024.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/responsive/767.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/responsive/481.css' %}">
            <link type="text/css" rel="stylesheet" href="{% static 'css/common/print.css' %}" media="print">
        {% endcompress %}
    </head>
    <body>
        <div id="loader"><div></div></div>

        {% include 'common/metrics.html' %}

        {% include 'common/player.html' %}

        <header class="visible shadow {% if is_home %}home{% endif %}">
            <nav class="container">
                <div class="flex">
                    <div class="left">
                        <a href="{% url 'index' %}" name="home" class="homelink" rel="home">
                            <span class="icon">
                                <i class="material-icons">settings_input_svideo</i>
                            </span>
                            <span class="text">
                                Manti.by
                            </span>
                        </a>
                        <span class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</span>
                    </div>
                    <div class="right">
                        <a href="{% url 'blog' %}" name="blog" rel="bookmark" class="link-item mobile-hidden">
                            <span class="text">{% trans 'Music' %}</span>
                        </a>
                        <a href="{% url 'gallery_list' %}" name="gallery" rel="bookmark" class="link-item mobile-hidden">
                            <span class="text">{% trans 'Gallery' %}</span>
                        </a>
                        <span class="language" class="link-item">
                            {% for lang in LANGUAGES %}
                                {% if lang.0 == ACTIVE_LANGUAGE %}
                                    <span class="item text active">{{ lang.0 }}</span>
                                {% else %}
                                    <a href="{% get_locale_domain lang.0 %}{{ request.path }}" name="lang-{{ lang.0 }}" class="item text">
                                        {{ lang.0 }}
                                    </a>
                                {% endif %}
                                <span class="item spacer">/</span>
                            {% endfor %}
                        </span>
                        {% if user.is_authenticated %}
                            <span class="user">
                                <a href="{% url 'profile' %}" name="profile">
                                    <img src="{{ user.profile.image }}" />
                                </a>
                            </span>
                        {% endif %}
                        <span class="mobile-menu-button">
                            <i class="material-icons">more_vert</i>
                        </span>
                    </div>
                </div>
            </nav>
            <nav class="mobile-menu">
                <a href="{% url 'blog' %}" name="blog-mobile" class="mobile-visible">
                    {% trans 'Music' %}
                </a>
                <a href="{% url 'gallery_list' %}" name="gallery-mobile" class="mobile-visible">
                    {% trans 'Gallery' %}
                </a>
                <a href="{% url 'about' %}" name="about">{% trans 'About' %}</a>
                <a href="{% url 'resume' %}" name="resume">{% trans 'Resume' %}</a>
                <a href="{% url 'copyrights' %}" name="copyrights">{% trans 'Copyrights' %}</a>
                <span class="search-button">{% trans 'Search' %}</span>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" name="logout">{% trans 'Logout' %}</a>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block content %}
                404 Not Found
            {% endblock %}
        </main>

        <footer>
            <nav class="container">
                <a href="{% url 'about' %}" name="about-footer" class="mobile-hidden">{% trans 'About' %}</a>
                <a href="{% url 'resume' %}" name="resume-footer" class="mobile-hidden">{% trans 'Resume' %}</a>
                <a href="{% url 'copyrights' %}" name="copyrights-footer" class="mobile-hidden">{% trans 'Copyrights' %}</a>
                <div id="copy">
                    Alex Manti&copy; 2006 - {% now 'Y' %}
                </div>
            </nav>
        </footer>

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/libs/jquery-3.3.1/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/widgets/lazy.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/widgets/menu.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/widgets/loader.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/widgets/header.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/libs/common.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/libs/player.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
            {% block scripts %}{% endblock %}
            <script type="text/javascript">
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker
                        .register('/sw.js', {scope: '/'})
                        .catch((err) => console.log(err));
                }
            </script>
        {% endcompress %}

        <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "MusicGroup",
            "name" : "{{ META_TITLE }}",
            "url" : "{{ BASE_URL }}",
            "logo": "{{ BASE_URL }}{% static 'img/favicon/favicon-192.png' %}",
            "sameAs" : [
                "https://twitter.com/manti_by",
                "https://instagram.com/manti_by",
                "https://vk.com/manti_by",
                "https://soundcloud.com/manti_by"
            ]
        }
        </script>
    </body>
</html>