from .base import *  # noqa


SECRET_KEY = ""

DEBUG = True

COMPRESS_ENABLED = False

TEMPLATE_DEBUG = False

ALLOWED_HOSTS = ["*"]

BASE_URL = "http://localhost"

SESSION_COOKIE_DOMAIN = "localhost"

STATIC_URL = "/static/"
STATIC_ROOT = "/home/manti/www/manti.by/static"

MEDIA_URL = "/content/"
MEDIA_ROOT = "/home/manti/www/manti.by/content"

TEMPLATE_VERSION = "v2"

LOCALE_URLS = {"be": "localhost", "ru": "localhost", "en": "localhost"}

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "manti_by",
        "USER": "manti_by",
        "PASSWORD": "pa55word",
        "HOST": "localhost",
        "PORT": "5432",
    }
}

THUMBNAIL_REDIS_HOST = "localhost"

CELERY_BROKER_URL = "redis://localhost:6379/0"

CACHES = {"default": {"BACKEND": "django.core.cache.backends.dummy.DummyCache"}}

LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "handlers": {
        "console": {"level": "DEBUG", "class": "logging.StreamHandler"},
        "null": {"class": "logging.NullHandler"},
    },
    "loggers": {
        "": {
            "handlers": ["console"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "verbose",
        },
        "django": {
            "handlers": ["console"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "simple",
        },
        "django.template": {"handlers": ["console"], "level": "DEBUG"},
    },
}
