from .base import *  # noqa


SECRET_KEY = ""

DEBUG = True

COMPRESS_ENABLED = False

TEMPLATE_DEBUG = False

ALLOWED_HOSTS = ["127.0.0.1", "manti.by", "ru.manti.by", "en.manti.by"]

BASE_URL = "https://manti.by"

SESSION_COOKIE_DOMAIN = ".manti.by"

STATIC_URL = "https://static.manti.by/"
STATIC_ROOT = "/var/lib/manti.by/static"

MEDIA_URL = "https://content.manti.by/"
MEDIA_ROOT = "/var/lib/manti.by/content"

LOCALE_URLS = {"be": "manti.by", "ru": "ru.manti.by", "en": "en.manti.by"}

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "manti_by",
        "USER": "manti_by",
        "PASSWORD": "pa55word",
        "HOST": "manti-by-postgres",
        "PORT": "5432",
    }
}

THUMBNAIL_REDIS_HOST = "manti-by-redis"

RQ_QUEUES = {
    "default": {
        "HOST": "manti-by-redis",
        "PORT": 6379,
        "DB": 0,
        "DEFAULT_TIMEOUT": 360,
    },
    "high": {
        "HOST": "manti-by-redis",
        "PORT": 6379,
        "DB": 0,
    },
}

CACHES = {
    "default": {
        "BACKEND": "redis_cache.cache.RedisCache",
        "LOCATION": "manti-by-redis:6379",
        "OPTIONS": {"MAX_ENTRIES": 5000, "DB": 0},
    }
}

LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "handlers": {
        "file_app": {
            "level": "DEBUG",
            "class": "logging.FileHandler",
            "filename": "/var/log/manti.by/app.log",
        },
        "file_django": {
            "level": "DEBUG",
            "class": "logging.FileHandler",
            "filename": "/var/log/manti.by/django.log",
        },
        "console": {"level": "DEBUG", "class": "logging.StreamHandler"},
        "null": {"class": "logging.NullHandler"},
    },
    "loggers": {
        "": {
            "handlers": ["console", "file_app"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "verbose",
        },
        "django": {
            "handlers": ["file_django"],
            "level": "WARNING",
            "propagate": True,
            "formatter": "simple",
        },
        "django.template": {"handlers": ["null"]},
        "django.db.backends": {"handlers": ["null"]},
    },
}
