{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Copyrights' %}{% endblock %}

{% block content %}
    <div class="container static copyrights shadow">
        <h1>{% trans 'Copyrights' %}</h1>
        <div class="description">
            {% if ACTIVE_LANGUAGE == 'ru' %}
                {% include 'static/partial/copyrights_ru.html' %}
            {% elif ACTIVE_LANGUAGE == 'en' %}
                {% include 'static/partial/copyrights_en.html' %}
            {% else %}
                {% include 'static/partial/copyrights_by.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}