{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Copyrights' %}{% endblock %}

{% block content %}
    <div class="container static copyrights">
        <h1>{% trans 'Copyrights' %}</h1>
        <div class="description">
            {% if ACTIVE_LANGUAGE == 'ru' %}
                <p>
                    <strong>
                        При использовании материалов с данного сайта, обязательна ссылка на сайт, автора и
                        первоисточник.
                    </strong>
                </p>
                <p>
                    Информация для правообладателей
                </p>
                <p>
                    Если Вы являетесь правообладателем какого-либо материала, ссылка (либо ссылки) на который размещена
                    на этом сайте, и не хотели бы чтобы данная информация распространялась пользователями без Вашего
                    на то согласия, то мы будем рады оказать Вам содействие, удалив соответствующие ссылки.
                </p>
                <p>
                    Для этого необходимо, чтобы вы прислали нам письмо (в электронном виде) в котором указали нам
                    следующую информацию:
                </p>
                <ol>
                    <li>
                        Документальное подтверждение ваших прав на материал, защищенный авторским правом:
                        <ul>
                            <li>
                                Отсканированный документ с печатью, либо
                            </li>
                            <li>
                                Email с официального почтового домена компании правообладателя, либо
                            </li>
                            <li>
                                Иная контактная информация, позволяющая однозначно идентифицировать вас, как
                                правообладателя данного
                                материала.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Текст который Вы желаете разместить в сопровождении удаляемой информации. В нем вы можете
                        указать где, и на каких условиях можно получить информацию, ссылки на которую были удалены,
                        а так же ваши контактные данные, для того чтобы пользователи могли получить от вас всю
                        интересующую их информацию относительно данного материала.
                    </li>
                    <li>
                        Прямые ссылки на страницы сайта, которые содержат ссылки на данные, которые необходимо удалить.
                        Ссылки должны иметь вид <a href="https://manti.by">https://manti.by/xxxx/</a> либо подобный.
                    </li>
                </ol>
                <p>
                    После этого, в течении 48 часов, мы удалим интересующие Вас ссылки с сайта.
                </p>
                <p>
                    <strong>ВНИМАНИЕ!!!</strong>
                </p>
                <p>
                    Мы оставляем за собой право публикации на сайте любой информации присланной нам по почте через форму
                    обратной связи.
                </p>
                <p>
                    Мы не осуществляем контроль за действиями пользователей, которые могут повторно размещать ссылки на
                    информацию, являющуюся объектом вашего авторского права. Мы в любом случае рассмотрим все Ваши
                    запросы, относительно ссылок на информацию, нарушающую Ваши права.
                </p>
                <p>
                    Согласно закону об Авторском и Смежном правах, ссылка на любые данные (информационное сообщение),
                    сама по себе, не является объектом авторского права. Таким образом, не стоит присылать письма
                    содержащие угрозы либо требования, как не имеющие под собой реальных оснований.
                </p>
            {% else %}
                <p>
                    <strong>
                        When using materials from this site, a link to the site, the author and the source is required.
                    </strong>
                </p>
                <p>
                    Information for rights holders
                </p>
                <p>
                    If you are the copyright owner of any material, the link (or links) to which is posted on this site,
                    and would not want this information to be distributed by users without your consent, we will be
                    happy to assist you by removing the appropriate links.
                </p>
                <p>
                    For this it is necessary that you send us a letter (in electronic form) in which you indicated to us
                    the following information:
                </p>
                <ol>
                    <li>Documentary evidence of your rights to material protected by copyright:
                        <ul>
                            <li>
                                A scanned document with a print, or
                            </li>
                            <li>
                                Email from the company's official email domain, or
                            </li>
                            <li>
                                Other contact information that allows you to uniquely identify you as the copyright
                                owner of this material.
                            </li>
                        </ul>
                    </li>
                    <li>
                        The text that you wish to place with the deleted information. In it you can specify where and
                        under what conditions you can get the information, the links to which have been deleted, as well
                        as your contact information, so that users can get from you all the information they are
                        interested in regarding this material.
                    </li>
                    <li>
                        Direct links to the pages of the site that contain links to the data that you want to delete.
                        Links should be in the form <a href="https://manti.by">https://manti.by/xxxx/</a> or similar.
                    </li>
                    <li>
                        After that, within 48 hours, we will remove the links you are interested in from the site.
                    </li>
                </ol>
                <p>
                    <strong>
                        ATTENTION!!!
                    </strong>
                </p>
                <p>
                    We reserve the right to publish on the website any information sent to us by mail through the
                    feedback form.
                </p>
                <p>
                    We do not monitor the actions of users who can re-post links to information that is subject to your
                    copyright. In any case, we will consider all your requests regarding references to information that
                    violates your rights.
                </p>
                <p>
                    According to the Law on Copyright and Neighboring Rights, the reference to any data (information
                    message), in itself, is not subject to copyright. Thus, it is not necessary to send letters
                    containing threats or demands, as having no real basis.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}