{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Resume' %}{% endblock %}

{% block content %}
    <div class="container static resume">
        <h1>{% trans 'Resume' %}</h1>
        <div class="description">
            <img src="{% static 'img/side.jpg' %}" class="image" alt="Manti">
            {% if ACTIVE_LANGUAGE == 'ru' %}
                <p>
                    <cite>
                        - А как ты начал изучать электронику?<br>
                        - Как-то лет в 12 я нашел старый трансформатор, слегка его перемотал и включил. Энергосистема
                        опознала нового радиотехника и приветливо моргнула всем домом. Вот так и начал...
                    </cite>
                </p>
                <p>
                    <strong>Кратко о себе:</strong>
                </p>
                <p>
                    Высшее техническое образование по специальности инженер-программист со специализацией информационные
                    и интернет технологии.
                </p>
                <p>
                    Коммуникабельность, умение работать в команде, технический английский, грамотная речь, эмоциональная
                    выдержка, большой опыт общения с клиентами (от пенсионеров до высоких должностных лиц), крепкое
                    здоровье, без вредных превычек.
                </p>
                <p>
                    Без проблем работаю как на windows платформе, так и на linux платформах. Неплохо владею пакетом
                    Adobe Photoshop.
                </p>
                <p>
                    <strong>Основные сведения:</strong>
                </p>
                <ul>
                    <li>
                        Более чем 10-летний практический (6-летний коммерческий) опыт разработки web-приложений от
                        стадии постановки задачи до запуска работающего проекта.
                    </li>
                    <li>
                        Высоконагруженные приложения со сложной архитектурой и пропускной способностью более чем
                        5000rps. Горизонтальное и вертикальное масштабирование.
                    </li>
                    <li>
                        Знание, понимание и практическое использование ООП, шаблоны проектирования.
                    </li>
                    <li>
                        Грамотное оформление кода (иерархия, описание, комментарии), умение читать и понимать чужой код,
                        в т.ч. "плохой", асинхронный и декомпилированный.
                    </li>
                    <li>
                        Оптимизация существующего кода: Python, PHP, JS, MySQL (Join/Union/Proc), HTML/CSS (контексты,
                        шаблонизация, анимация), кеширование на различных уровнях MVC (Memcached, Filecache). Интерфейсы
                        и прототипирование, составление технической документации по проекту.
                    </li>
                    <li>
                        Администрирование и запуск серверов: LAMP (Ubuntu, Centos), WAMP (Windows Server). Apache/Nginx
                        + Python, PHP (uWSGI, Gunicorn, Mod FCGI, CLI) + Memcache/Redis + MySQL/PostgreSQL/MongoDB,
                        высокий уровень владения bash/sh.
                    </li>
                    <li>
                        Зависимости - Pip/Composer/NPM, отладка и профилирование кода - xDebug, системы контроля версий
                        - SVN/GIT/Mercurial, ветвление, слияние, откаты и т.п.
                    </li>
                </ul>
                <p>
                    <strong>Профессиональные знания и навыки:</strong>
                </p>
                <ul>
                    <li>
                        Языки программирования: PHP 9+ лет, JS 9+ лет , Python 4+ лет, MySQL 7+ лет, HTML5/CSS3, NodeJS,
                        NoSQL/MongoDB, Ruby On Rails, .NET MVC.
                    </li>
                    <li>
                        Сервисы: Google/Facebook/Yandex API, Salesforce, Authorize.net, Sailthru, Mandrill/Mailchimp,
                        SOAP/REST, OAuth.
                    </li>
                    <li>
                        Библиотеки: Django, Yii, YUI/AlloyUI, React, jQuery, Angular, Zend, Doctrine, Slim, Rails,
                        Magento, Wordpress, OpenCart и др.
                    </li>
                    <li>
                        Участие в проектах: Artspace.com, Architizer.com, Aprenita.com, AHALife.com, eTouches.com,
                        Blismobile.com, LYF.com, DealOn.com, CityHint.com, 3Key.com, NOICentral.com и другие.
                    </li>
                </ul>
            {% else %}
                <p>
                    <cite>
                        - And how did you start studying electronics?<br>
                        - Some years at 12 I found an old transformer, rewound it slightly and turned it on. Power
                        system recognized the new radio technologist and blinked in a friendly way with the whole house.
                        That's how it began...
                    </cite>
                </p>
                <p>
                    <strong>Briefly about yourself: </strong>
                </p>
                <p>
                    Higher technical education in the specialty of software engineer with specialization
                    information and Internet technology.
                </p>
                <p>
                    Sociability, teamwork, technical English, literate speech, emotional endurance, extensive
                    experience with clients (from pensioners to senior officials), strong health, without harmful excess.
                </p>
                <p>
                    I work without problems on windows platforms, as well as on linux platforms. Not bad
                    I own a package Adobe Photoshop.
                </p>
                <p>
                    <strong>Basics: </strong>
                </p>
                <ul>
                    <li>
                        More than 10 years of practical (6-year commercial) experience in developing web-applications
                        from the stage of setting the task before the launch of a working project.
                    </li>
                    <li>
                        Highly loaded applications with complex architecture and bandwidth more than 5000rps.
                        Horizontal and vertical scaling.          
                    </li>
                    <li>
                        Knowledge, understanding and practical use of OOP, design patterns.
                    </li>
                    <li>
                        Proper code execution (hierarchy, description, comments), the ability to read and understand
                        someone else's code, also known as "smell", asynchronous and decompiled.
                    </li>
                    <li>
                        Optimization of existing code: Python, PHP, JS, MySQL (Join / Union / Proc), HTML / CSS
                        (contexts, templates, animation), caching at various levels of MVC (Memcached, Filecache).
                        Interfaces and prototyping, drafting technical documentation for the project.
                    </li>
                    <li>
                        Administration and startup of servers: LAMP (Ubuntu, Centos), WAMP (Windows Server). Apache /
                        Nginx + Python, PHP (uWSGI, Gunicorn, Mod FCGI, CLI) + Memcache / Redis + MySQL / PostgreSQL /
                        MongoDB, high level of knowledge bash / sh.
                    </li>
                    <li>
                        Dependencies - Pip / Composer / NPM, debugging and code profiling - xDebug, version control
                        systems - SVN / GIT / Mercurial, branching, merging, rollbacks, etc.
                    </li>
                </ul>
                <p>
                    <strong>Professional knowledge and skills: </strong>
                </p>
                <ul>
                    <li>
                        Programming languages: PHP 9+ years, JS 9+ years, Python 4+ years, MySQL 7+ years, HTML5 /
                        CSS3, NodeJS, NoSQL / MongoDB, Ruby on Rails, .NET MVC.
                    </li>
                    <li>
                        Services: Google / Facebook / Yandex API, Salesforce, Authorize.net, Sailthru, Mandrill /
                        Mailchimp, SOAP / REST, OAuth.                    
                    </li>
                    <li>
                        Libraries: Django, Yii, YUI / AlloyUI, React, jQuery, Angular, Zend, Doctrine, Slim, Rails,
                        Magento, Wordpress, OpenCart and others.
                    </li>
                    <li>
                        Participation in projects: Artspace.com, Architizer.com, Aprenita.com, AHALife.com,
                        eTouches.com, Blismobile.com, LYF.com, DealOn.com, CityHint.com, 3Key.com, NOICentral.com and others.
                    </li>
                </ul>
            {% endif %}
            <p>
                {% trans 'Code samples' %}: <a href="https://github.com/manti-by">https://github.com/manti-by</a>
            <p>
            <p class="print">
                <a onclick="window.print()">{% trans 'Print this page' %}</a>
            </p>
        </div>
    </div>
{% endblock %}