{% extends 'base.html' %}

{% load static i18n thumbnail common_tags %}

{% block title %}{% trans 'Gallery' %}{% endblock %}
{% block meta %}{% trans 'Gallery' %}{% endblock %}

{% block breadcrumbs %}
    <span class="spacer">&bull;</span>
    <h1>{% trans 'Gallery' %}</h1>
{% endblock %}

{% block content %}
    <article class="gallery container">
        <div class="item">
            <div class="images {% if user.is_superuser %}orderable{% endif %}">
                {% for image in gallery.images.ordered %}
                    {% thumbnail image.original_image "1920x1280" as display %}
                        <a href="{{ display.url }}" data-id="{{ image.id }}" name="image-{{ image.id }}"
                           class="preview shadow {% if display|is_portrait %}portrait{% else %}landscape{% endif %} {% if user.is_superuser %}orderable-item{% endif %}">
                            {% thumbnail image.original_image "x400" as preview %}
                                <img data-src="{{ preview.url }}"
                                     data-webp="{% webp_cover preview %}" class="lazy"
                                     alt="{% trans 'Image #' %}{{ image.id }}"
                                     title="{% trans 'Image #' %}{{ image.id }}">
                            {% endthumbnail %}
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/gallery/overlay.css' %}" media="all">
    <link type="text/css" rel="stylesheet" href="{% static 'css/gallery/item.css' %}" media="all">
{% endblock %}

{% block scripts %}
    {% if user.is_superuser %}
        <script type="text/javascript" src="{% static 'js/libs/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/widgets/orderable.js' %}"></script>
    {% endif %}
        <script type="text/javascript" src="{% static 'js/libs/gallery.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                $.gallery.init();
            });
        </script>
{% endblock %}