{% extends 'common/layout.html' %}

{% load i18n %}

{% block title %}{% trans 'Gallery View' %}{% endblock %}

{% block content %}
    <div class="gallery container">
        <div class="item">
            <h1><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h1>
            <div class="images">
                {% for image in gallery.images.all %}
                    <a href="{{ image.gallery_image.url }}" class="gallery-image">
                        <img src="{{ image.preview_image.url }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}