{% extends 'base.html' %}

{% load static i18n thumbnail %}

{% block title %}{% trans 'Gallery' %}{% endblock %}

{% block breadcrumbs %}
    <span class="spacer">&gt;</span>
    {% trans 'Gallery' %}
{% endblock %}

{% block content %}
    <div class="gallery container">
        <div class="item">
            <div class="images {% if user.is_superuser %}orderable{% endif %}">
                {% for image in gallery.images.ordered %}
                    {% thumbnail image.original_image "1920x1280" as display %}
                        <a href="{{ display.url }}" data-id="{{ image.id }}" name="image-{{ image.id }}"
                           class="preview {% if display|is_portrait %}portrait{% else %}landscape{% endif %} {% if user.is_superuser %}orderable-item{% endif %}">
                            {% thumbnail image.original_image "400" as preview %}
                                <img src="{{ preview.url }}" alt="{% trans 'Image #' %}{{ image.id }}"
                                     title="{% trans 'Image #' %}{{ image.id }}">
                            {% endthumbnail %}
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/gallery/overlay.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/gallery/item.css' %}">
{% endblock %}

{% block scripts %}
    {% if user.is_superuser %}
        <script type="text/javascript" src="{% static 'js/libs/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/widgets/orderable.js' %}"></script>
    {% endif %}
        <script type="text/javascript" src="{% static 'js/libs/gallery.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var gallery = $.gallery;
                gallery.init();
            });
        </script>
{% endblock %}