.gallery .item {
    padding-top: 1em;
}

.gallery .item .images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.gallery .item .preview {
    width: 49.5%;
    max-height: 335px;
    margin: 0 1% 0.65em 0;
    text-align: center;
    overflow: hidden;
}

.gallery .item .preview:nth-child(2n) {
    margin-right: 0;
}

.gallery .item .preview img {
    min-width: 100%;
    max-width: 100%;
}