.gallery .list .images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.gallery .list .preview {
    display: inline-block;
    height: 183px;
    margin: 0 0.5em 0.5em 0;
    text-align: center;
    overflow: hidden;
}

.gallery .list .preview:nth-child(3n) {
    margin-right: 0;
}