.gallery .list .images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 2em
}

.gallery .list .preview {
    display: inline-block;
    width: 32.6%;
    max-height: 225px;
    margin: 0 1% 0.6em 0;
    text-align: center;
    overflow: hidden;
}

.gallery .list .preview:nth-child(3n) {
    margin-right: 0;
}