#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: url(../../img/black-bg-50.png);
    z-index: 2000;
}

#overlay img {
    position: absolute;
    top: 2%;
    left: 2%;
    margin: 0 auto;
    max-width: 96%;
    max-height: 96%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#overlay .original,
#overlay .next,
#overlay .prev,
#overlay .close {
    cursor: pointer;
}

#overlay .next,
#overlay .prev,
#overlay .close {
    position: absolute;
    width: 3em;
    height: 3em;
    padding: 0.5em;
}

#overlay .next i,
#overlay .prev i,
#overlay .close i {
    position: relative;
    font-size: 3em;
    color: #FFF;
    z-index: 100;
}

#overlay .close {
    top: 1em;
    right: 1em;
}

#overlay .next, .prev {
    top: 50%;
}

#overlay .next {
    right: 1em;
}