{% load i18n %}

<div class="post" data-id="{{ item.id }}">
    <div class="image">
        <a href="{% url 'post' item.slug %}">
            <img src="{{ item.cover.url }}">
        </a>
    </div>
    <div class="info">
        <div class="wrap">
            <h3>
                <a href="{% url 'post' item.slug %}">
                    {{ item.name }}
                </a>
            </h3>
            <div class="genre">
                {{ item.genre.all|join:", " }}
            </div>
            <div class="created">
                {{ item.human_date }}
            </div>
        </div>
    </div>
</div>