{% load i18n common_tags %}

<div class="post" data-id="{{ item.id }}">
    <div class="flex">
        <div class="image shadow">
            <a href="{% url 'post' item.slug %}" name="post-{{ item.slug }}">
                <img data-src="{{ item.cover.url }}"
                     data-webp="{% webp_cover item.cover %}" alt="{{ item.name }}"
                     title="{{ item.name }}" class="lazy" />
            </a>
        </div>
        <div class="info">
            <h3>
                <a href="{% url 'post' item.slug %}" name="post-{{ item.slug }}">
                    {{ item.name }} /{{ item.genre.all|join:", " }}/
                </a>
            </h3>
            <div class="summary">{{ item.summary|safe }}</div>
            <div class="created">
                <strong>{% trans 'Created' %}</strong>:
                {{ item.created|date:DATE_FORMAT }}
            </div>
            <div class="length">
                <strong>{% trans 'Length' %}</strong>:
                {{ item.length }}
            </div>
            <div class="preview">
                <div id="player-{{ item.id }}" class="player inline" data-id="{{ item.id }}">
                    <div class="button play-pause play"></div>
                    <div class="progress-bar position">
                        <div class="progress-line"></div>
                        <div class="progress-line-loaded"></div>
                        <div class="progress-line-active"></div>
                    </div>
                    <div class="progress-label">
                        <span>00:00:00</span>
                    </div>
                </div>
            </div>
            <div class="tags">
                <strong>{% trans 'Tags' %}</strong>:
                {% for t in item.tags.all %}
                    <a href="{% url 'blog' %}?tag={{ t.slug }}" class="tag">{{ t.name }}</a>
                {% endfor %}
            </div>
            <div class="links">
                <span class="link show-tracklist">{% trans 'Tracklist' %}</span>
                <a href="{{ item.release.url }}" class="download">{% trans 'Download' %}</a>
            </div>
        </div>
        <div class="tracklist hidden">
            <h2>
                <a href="{% url 'post' item.slug %}">
                    {{ item.name }} /{{ item.genre.all|join:", " }}/
                </a>
            </h2>
            <div class="tracks">
                {{ item.tracklist.strip|safe }}
            </div>
            <div class="links">
                <span class="link hide-tracklist">{% trans 'Hide Tracklist' %}</span>
            </div>
        </div>
    </div>
</div>