{% load i18n %}

<div class="post">
    <div class="flex">
        <div class="image">
            <a href="{% url 'post' item.slug %}">
                <img src="{{ item.cover.url }}">
            </a>
        </div>
        <div class="info">
            <h2>
                <a href="{% url 'post' item.slug %}">
                    {{ item.name }} /{{ item.genre.all|join:", " }}/
                </a>
            </h2>
            <div class="summary">{{ item.summary|safe }}</div>
            <div class="created">
                <strong>{% trans 'Created' %}</strong>:
                {{ item.created|date:"d b Y" }}
            </div>
            <div class="length">
                <strong>{% trans 'Length' %}</strong>:
                {{ item.length }}</div>
            <div class="player"></div>
            <div class="tags">
                <strong>{% trans 'Tags' %}</strong>:
                {% for t in item.tags.all %}
                    <span class="tag">{{ t.name }}</span>
                {% endfor %}
            </div>
            <div class="links">
                <span class="link show-tracklist">{% trans 'Tracklist' %}</span>
                <a href="{{ item.release.url }}" class="download">{% trans 'Download' %}</a>
            </div>
        </div>
        <div class="tracklist hidden">
            <h2>
                <a href="{% url 'post' item.slug %}">
                    {{ item.name }}
                </a>
            </h2>
            <div class="tracks">
                {{ item.tracklist|safe }}
            </div>
            <div class="links">
                <span class="link hide-tracklist">{% trans 'Hide Tracklist' %}</span>
            </div>
        </div>
    </div>
</div>