{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Blog' %}{% endblock %}

{% block breadcrumbs %}
    {% if tag %}
        <span class="spacer">&gt;</span>
        <a href="{% url 'blog' %}">{% trans 'Music' %}</a>
        <span class="spacer">&gt;</span>
        {% trans 'Tag' %}<span class="tag">{{ tag }}</span>
    {% else %}
        <span class="spacer">&gt;</span>
        {% trans 'Music' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="blog container">
        {% for item in item_list %}
            {% include 'blog/list-item.html' %}
        {% empty %}
            <div class="notice">{% trans 'Nothin to show' %}(</div>
        {% endfor %}
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog/list-item.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/widgets/tracklist.js' %}"></script>
{% endblock %}