{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Blog' %}{% endblock %}

{% block breadcrumbs %}
    {% if tag %}
        <span class="spacer">&gt;</span>
        <a href="{% url 'blog' %}" name="blog">{% trans 'Music' %}</a>
        <span class="mobile-hidden">
            <span class="spacer">&bull;</span>
            <span class="tag">{{ tag }}</span>
        </span>
    {% else %}
        <span class="spacer">&bull;</span>
        {% trans 'Music' %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="mobile-visible container">
        {% if tag %}
            <span class="tag">{{ tag }}</span>
        {% endif %}
    </h1>
    <div class="blog container flex">
        <div class="posts">
            {% for item in item_list %}
                {% include 'blog/list-item.html' %}
            {% empty %}
                <div class="notice">{% trans 'Nothing to show' %}(</div>
            {% endfor %}
        </div>
        {% include 'common/sidebar.html' %}
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog/list.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog/list-item.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/widgets/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/widgets/tracklist.js' %}"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $.initBlogAjax('{% if tag %}{{ tag.slug }}{% endif %}');
            });
        })(jQuery);
    </script>
{% endblock %}