{% extends 'common/layout.html' %}

{% load i18n %}

{% block title %}{{ item.name }} - {{ META_TITLE }}{% endblock %}
{% block ios-title %}{{ item.name }} - {{ META_TITLE }}{% endblock %}

{% block meta %}{{ item.meta }}{% endblock %}

{% block open-graph %}
    <meta property="og:type" content="music.song">
    <meta property="og:title" content="Manti - {{ item.name }}">
    <meta property="og:image" content="{{ BASE_URL }}{{ item.cover.url }}">
    <meta property="og:url" content="{{ BASE_URL }}{% url 'post' item.slug %}">
    <meta property="og:site_name" content="{{ META_TITLE }}">
    <meta property="og:audio" content="{{ BASE_URL }}{{ item.release.url }}">
    <meta property="og:audio:type" content="audio/mpeg">
{% endblock %}

{% block content %}
    <div class="post container">
        <div class="image">
            <img src="{{ item.cover.url }}">
        </div>
        <div class="info">
            <h1>{{ item.name }}</h1>
            <p>{{ item.description }}</p>
            <p>{% trans 'Created' %}: {{ item.created }}</p>
            <p>{% trans 'Catalog No' %}: {{ item.catnum }}</p>
            <p>{% trans 'Quality' %}: {{ item.quality }}</p>
            <p>{% trans 'Length' %}: {{ item.length }}</p>
            <p>{% trans 'Genre' %}:
                {% for t in item.genre.all %}
                    {{ t.name }}
                {% endfor %}
            </p>
            <p>{% trans 'Tags' %}:
                {% for t in item.tags.all %}
                    {{ t.name }}
                {% endfor %}
            </p>
        </div>
        <div class="tracklist hidden">{{ item.tracklist }}</div>
        <div class="link">
            <a href="{{ item.release.url }}">{% trans 'Download' %}</a>
            <span class="link">{% trans 'Tracklist' %}</span>
        </div>
        <div class="related">
            {% for r in item.related.all %}
                <div class="item">
                    <a href="{% url 'post' r.slug %}">
                        <img src="{{ r.cover.url }}">
                        {{ r.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}