{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{{ item.name }} - {{ META_TITLE }}{% endblock %}
{% block ios-title %}{{ item.name }} - {{ META_TITLE }}{% endblock %}

{% block meta %}{{ item.meta }}{% endblock %}

{% block open-graph %}
    <meta property="og:type" content="music.song">
    <meta property="og:title" content="Manti - {{ item.name }}">
    <meta property="og:image" content="{{ BASE_URL }}{{ item.cover.url }}">
    <meta property="og:url" content="{{ BASE_URL }}{% url 'post' item.slug %}">
    <meta property="og:site_name" content="{{ META_TITLE }}">
    <meta property="og:audio" content="{{ BASE_URL }}{{ item.release.url }}">
    <meta property="og:audio:type" content="audio/mpeg">
{% endblock %}

{% block breadcrumbs %}
    <span class="spacer">&gt;</span>
    <a href="{% url 'blog' %}">{% trans 'Music' %}</a>
    <span class="spacer">&gt;</span>
    {{ item.name }}
{% endblock %}

{% block content %}
    <div class="post container">
        <div class="flex">
            <div class="image">
                <img src="{{ item.cover.url }}">
            </div>
            <div class="info">
                <h1>{{ item.name }}</h1>
                <div class="description">{{ item.description|safe }}</div>
                <div class="created">
                    <strong>{% trans 'Created' %}</strong>:
                    {{ item.created }}
                </div>
                <div class="catnum">
                    <strong>{% trans 'Catalog No' %}</strong>:
                    {{ item.catnum }}
                </div>
                <div class="quality">
                    <strong>{% trans 'Quality' %}</strong>:
                    {{ item.quality }}
                </div>
                <div class="length">
                    <strong>{% trans 'Length' %}</strong>:
                    {{ item.length }}</div>
                <div class="genre">
                    <strong>{% trans 'Genre' %}</strong>:
                    {{ item.genre.all|join:", " }}
                </div>
                <div class="tags">
                    <strong>{% trans 'Tags' %}</strong>:
                    {% for t in item.tags.all %}
                        <a href="{% url 'blog' %}?tag={{ t.slug }}" class="tag">{{ t.name }}</a>
                    {% endfor %}
                </div>
                <div class="links">
                    <span class="link show-tracklist">{% trans 'Tracklist' %}</span>
                    <a href="{{ item.release.url }}" class="download">{% trans 'Download' %}</a>
                </div>
            </div>
            <div class="tracklist hidden">
                <h1>{{ item.name }}</h1>
                <div class="tracks">
                    {{ item.tracklist|safe }}
                </div>
                <div class="links">
                    <span class="link hide-tracklist">{% trans 'Hide Tracklist' %}</span>
                </div>
            </div>
        </div>
        <h2>{% trans 'Related posts' %}</h2>
        <div class="related flex">
            {% for r in item.related.all|slice:":3" %}
                <div class="item">
                    <a href="{% url 'post' r.slug %}">
                        <img src="{{ r.cover.url }}">
                        <span class="name">{{ r.name }} /{{ r.genre.all|join:", " }}/</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog/post.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/widgets/tracklist.js' %}"></script>
{% endblock %}