@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    aside {
        position: fixed;
        top: -46px;
        bottom: auto;
        border-top: none;
        border-bottom: 1px solid #CCC;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
    }

    .main-sidebar {
        width: 900px;
    }

    .post-item .cover {
        width: 450px;
    }

    .post-item .cover img {
        width: 450px;
    }

    .post-item .music-block .info,
    .post-item .music-block .tracklist {
        width: 400px;
        height: 450px;
        margin-left: 24px;
    }

    .post-item .tracklist .content {
        height: 450px;
    }

    .post-item .music-block .tracklist .content {
        height: 425px;
    }

    #featured .slider-item {
        width: 120px;
        height: 450px;
    }

    #featured .slider-item .wrap {
        width: 900px;
    }

    #featured .slider-item .cover {
        width: 450px;
        height: 450px;
    }

    #featured .slider-item .info {
        width: 432px;
        height: 450px;
        margin-left: 18px;
    }

    .relation {
        width: 32.8%;
    }

    .relation .preview img {
        min-width: 100%;
    }

    .gallery-item .thumbnail {
        width: 120px;
        height: 120px;
    }

    .gallery-item .preview {
        width: 32.8%;
        height: auto;
    }

    #gallery .latest {
        width: 572px;
    }

    #gallery .popular a {
        height: 249px;
    }

    #gallery .favorite a {
        height: 400px;
    }

    #gallery .favorite a img {
        max-width: 100%;
    }

    .player .position {
        width: 510px;
    }

    .player .progressbar.position .progress-line {
        width: 445px;
    }

    .player.inline {
        width: 400px;
    }

    .player.inline .position {
        width: 352px;
    }

    .player.inline .progressbar.position .progress-line {
        width: 292px;
    }

    #player {
        width: 1185px;
    }

    #player .now-playing {
        width: 330px;
    }
}