@media (prefers-color-scheme: dark) {
  body {
    color: #666;
    background: #121212;
  }

  h1, h2, .post h2, h3 {
    color: #999;
  }

  a, p, b, li {
    color: #666;
  }

  h1 a, h2 a, h3 a {
      color: #999;
  }

  input, select, textarea, button {
    color: #aaa;
    border-color: #636363;
    background: #636363;
  }

  #loader {
    background: rgba(0, 0, 0, 0.5);
  }

  #search,
  header {
    background: #121212;
  }

  header .mobile-menu {
    background: #121212;
  }

  #search input {
    border-bottom: 1px solid #333;
  }

  #search .search-result {
    background: #121212;
  }

  #mobile-menu {
    color: #999;
    background: #121212;
  }

  .static {
    background: #121212;
  }

  cite {
    color: #aaa;
    background: #464646;
  }

  .static p,
  .static li {
    color: #aaa;
  }

  #player {
    border-top: 1px solid #333;
    background: #121212;
  }

  #player .now-playing a span.image-wrapper {
    background: #121212;
  }

  .player {
    color: #aaa;
    background: #333333;
  }

  .player .progress-label {
    color: #aaa;
  }

  .featured .post .info .wrap {
    background: #121212;
  }
}
