from __future__ import absolute_import, unicode_literals


DEBUG = True

COMPRESS_ENABLED = False

TEMPLATE_DEBUG = False

ALLOWED_HOSTS = ['127.0.0.1', 'local.manti.by', 'ru.local.manti.by', 'en.local.manti.by']

BASE_URL = 'http://local.manti.by'

LOCALE_URLS = {
    'by': 'http://local.manti.by',
    'ru': 'http://ru.local.manti.by',
    'en': 'http://en.local.manti.by',
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'manti',
        'USER': 'manti',
        'PASSWORD': 'pa55word',
        'HOST': 'localhost',
        'PORT': '',
    }
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
        },
        'null': {
            'class': 'logging.NullHandler',
        },
    },
    'loggers': {
        'app': {
            'handlers': ['console'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'django': {
            'handlers': ['console'],
            'level': 'DEBUG',
            'propagate': True,
        },
        'django.db.backends': {
            'handlers': ['null'],
            'propagate': False,
            'level':'ERROR',
        },
    },
}

DEFAULT_FROM_EMAIL = 'admin@manti.by'

INSTAGRAM_USER_ID = 'manti_by'
INSTAGRAM_CLIENT_ID = ''
INSTAGRAM_ACCESS_TOKEN = ''
INSTAGRAM_CLIENT_SECRET = ''
