<p>
    <strong>
        При использовании материалов с данного сайта, обязательна ссылка на сайт, автора и
        первоисточник.
    </strong>
</p>
<p>
    Информация для правообладателей
</p>
<p>
    Если Вы являетесь правообладателем какого-либо материала, ссылка (либо ссылки) на который размещена
    на этом сайте, и не хотели бы чтобы данная информация распространялась пользователями без Вашего
    на то согласия, то мы будем рады оказать Вам содействие, удалив соответствующие ссылки.
</p>
<p>
    Для этого необходимо, чтобы вы прислали нам письмо (в электронном виде) в котором указали нам
    следующую информацию:
</p>
<ol>
    <li>
        Документальное подтверждение ваших прав на материал, защищенный авторским правом:
        <ul>
            <li>
                Отсканированный документ с печатью, либо
            </li>
            <li>
                Email с официального почтового домена компании правообладателя, либо
            </li>
            <li>
                Иная контактная информация, позволяющая однозначно идентифицировать вас, как
                правообладателя данного
                материала.
            </li>
        </ul>
    </li>
    <li>
        Текст который Вы желаете разместить в сопровождении удаляемой информации. В нем вы можете
        указать где, и на каких условиях можно получить информацию, ссылки на которую были удалены,
        а так же ваши контактные данные, для того чтобы пользователи могли получить от вас всю
        интересующую их информацию относительно данного материала.
    </li>
    <li>
        Прямые ссылки на страницы сайта, которые содержат ссылки на данные, которые необходимо удалить.
        Ссылки должны иметь вид <a href="https://manti.by">https://manti.by/xxxx/</a> либо подобный.
    </li>
</ol>
<p>
    После этого, в течении 48 часов, мы удалим интересующие Вас ссылки с сайта.
</p>
<p>
    <strong>ВНИМАНИЕ!!!</strong>
</p>
<p>
    Мы оставляем за собой право публикации на сайте любой информации присланной нам по почте через форму
    обратной связи.
</p>
<p>
    Мы не осуществляем контроль за действиями пользователей, которые могут повторно размещать ссылки на
    информацию, являющуюся объектом вашего авторского права. Мы в любом случае рассмотрим все Ваши
    запросы, относительно ссылок на информацию, нарушающую Ваши права.
</p>
<p>
    Согласно закону об Авторском и Смежном правах, ссылка на любые данные (информационное сообщение),
    сама по себе, не является объектом авторского права. Таким образом, не стоит присылать письма
    содержащие угрозы либо требования, как не имеющие под собой реальных оснований.
</p>