<cite>
  - А як ты пачаў вывучаць электроніку?<br>
  - Як-та, гадоў у 12, я знайшоў стары трансфарматар, злёгку яго пераматаў і ўключыў. Энергасістэма апазнала новага
  радыётэхніка і ветліва міргнула ўсім домам. Вось так і пачаў ...
</cite>
<p>
  <strong>Коратка пра сябе:</strong>
</p>
<p>
  Вышэйшая тэхнічная адукацыя па спецыяльнасці інжынер-праграміст са спецыялізацыяй Інфармацыйныя і Інтэрнэт
  Тэхналогіі.
</p>
<p>
  Камунікабельнасць, уменне працаваць у камандзе, гутарковы і тэхнічны англійскі, пісьменная гаворка, эмацыйная
  вытрымка, вялікі вопыт зносін з кліентамі (ад пенсіянераў да высокіх службовых асобаў), моцнае здароўе,
  без шкодных звычак.
</p>
<p>
  Без праблем працуюць як на Linux платформе, так і на Windows. Нядрэнна валодаю пакетамі Adobe Photoshop,
  SketchUp, AutoCAD, Ableton Live і іншыя.
</p>
<p>
  <strong>Асноўныя звесткі:</strong>
</p>
<ul>
  <li>
    Больш чым 16-гадовы практычны (11-гадовы камерцыйны) вопыт распрацоўкі вэб-дадатакаў ад стадыі пастаноўкі
    задачы да запуску працуючага праекта.
  </li>
  <li>
    Высоконагруженныя дадатакі са складанай архітэктурай і прапускной здольнасцю больш чым 5000rps.
    Гарызантальнае і вертыкальнае маштабаванне.
  </li>
  <li>
    Веданне, разуменне і практычнае выкарыстанне ООП, шаблоны праектавання.
  </li>
  <li>
    Пісьменнае афармленне кода (іерархія, апісанне, каментары), уменне чытаць і разумець чужой код, у тым
    ліку "дрэнны", асінхронны і дэкампіляваны.
  </li>
  <li>
    Аптымізацыя існуючага кода: Python, PHP, JS, SQL (Join/Union/Proc), HTML / CSS (кантэксты,
    шаблонизация, анімацыя), кэшаванне на розных узроўнях MVC. Інтэрфейсы і протатіпіраванне, складанне
    тэхнічнай дакументацыі па праекце.
  </li>
  <li>
    Адміністраванне і запуск сервераў: Nginx/Gunicorn/Postgres (Ubuntu, Centos), LAMP/WAMP (Windows Server).
    Nginx/Apache, Python/PHP (uWSGI, Gunicorn, Systemd, Mod FCGI, CLI) + базы дадзеных і кэшыраванне
    (Memcache, Redis, PostgreSQL, MySQL, MongoDB), высокі ўзровень валодання Bash тэрміналам.
  </li>
  <li>
    Залежнасці - PIP/NPM/Composer, Systemd/Docker/Vagrant, адладка і прафіляванне кода, сістэмы кантролю
    версій - GIT/SVN/Mercurial, галінаванне, зліццё, адкаты і да т.п.
  </li>
</ul>
<p>
  <strong>Прафесійныя веды і навыкі:</strong>
</p>
<ul>
  <li>
    Мовы праграмавання: Python 8лет, JS 13лет, HTML/CSS 16лет, PostgreSQL 8года, PHP 7лет, MySQL 7лет, Rust,
    Redis, Монго, NodeJS, Ruby On Rails, .NET MVC.
  </li>
  <li>
    Сэрвісы: Google/Facebook/Яндэкс API, Stripe/Plaid/Authorize.net, Salesforce, Sailthru, Mandrill/Mailchimp,
    SOAP/REST, OAuth.
  </li>
  <li>
    Бібліятэкі: Django, Flask, Starlette, Yii, React, VueJS, YUI/AlloyUI, jQuery, Angular, Zend, Doctrine, Slim,
    ROR, Wagtail, Magento, Wordpress, OpenCart і інш.
  </li>
</ul>