<cite>
    - А как ты начал изучать электронику?<br>
    - Как-то, лет в 12, я нашел старый трансформатор, слегка его перемотал и включил. Энергосистема
    опознала нового радиотехника и приветливо моргнула всем домом. Вот так и начал...
</cite>
<p>
    <strong>Кратко о себе:</strong>
</p>
<p>
    Высшее техническое образование по специальности инженер-программист со специализацией Информационные
    и Интернет Tехнологии.
</p>
<p>
    Коммуникабельность, умение работать в команде, технический английский, грамотная речь, эмоциональная
    выдержка, большой опыт общения с клиентами (от пенсионеров до высоких должностных лиц), крепкое
    здоровье, без вредных превычек.
</p>
<p>
    Без проблем работаю как на Linux платформе, так и на Windows. Неплохо владею пакетами Adobe Photoshop,
    SketchUp, AutoCAD, Ableton Live и другие.
</p>
<p>
    <strong>Основные сведения:</strong>
</p>
<ul>
    <li>
        Более чем 16-летний практический (11-летний коммерческий) опыт разработки web-приложений от
        стадии постановки задачи до запуска работающего проекта.
    </li>
    <li>
        Высоконагруженные приложения со сложной архитектурой и пропускной способностью более чем
        5000rps. Горизонтальное и вертикальное масштабирование.
    </li>
    <li>
        Знание, понимание и практическое использование ООП, шаблоны проектирования.
    </li>
    <li>
        Грамотное оформление кода (иерархия, описание, комментарии), умение читать и понимать чужой код,
        в т.ч. "плохой", асинхронный и декомпилированный.
    </li>
    <li>
        Оптимизация существующего кода: Python, PHP, JS, SQL (Join/Union/Proc), HTML/CSS (контексты,
        шаблонизация, анимация), кеширование на различных уровнях MVC. Интерфейсы и прототипирование,
        составление технической документации по проекту.
    </li>
    <li>
        Администрирование и запуск серверов: Nginx/Gunicorn/Postgres (Ubuntu, Centos), LAMP/WAMP (Windows Server).
        Nginx/Apache, Python/PHP (uWSGI, Gunicorn, Systemd, Mod FCGI, CLI) + базы данных и кэширование
        (Memcache/Redis/PostgreSQL/MySQL/MongoDB),
        высокий уровень владения bash терминалом.
    </li>
    <li>
        Зависимости - PIP/NPM/Composer, Systemd/Docker/Vagrant, отладка и профилирование кода, системы контроля версий
        - GIT/SVN/Mercurial, ветвление, слияние, откаты и т.п.
    </li>
</ul>
<p>
    <strong>Профессиональные знания и навыки:</strong>
</p>
<ul>
    <li>
        Языки программирования: Python 8лет, JS 13лет, HTML/CSS 16лет, PostgreSQL 8года, PHP 7лет, MySQL 7лет, Rust,
        Redis, Mongo, NodeJS, Ruby On Rails, .NET MVC.
    </li>
    <li>
        Сервисы: Google/Facebook/Yandex API, Stripe/Plaid/Authorize.net, Salesforce, Sailthru, Mandrill/Mailchimp,
        SOAP/REST, OAuth.
    </li>
    <li>
        Библиотеки: Django, Flask, Starlette, Yii, React, VueJS, YUI/AlloyUI, jQuery, Angular, Zend, Doctrine, Slim,
        ROR, Wagtail, Magento, Wordpress, OpenCart и др.
    </li>
</ul>