.login {
    padding-top: 1em;
    margin-bottom: 3em;
}


.login .info {
}

.login label,
.login .row {
    display: block;
    margin-bottom: 1em;
}

.login label {
    margin-bottom: 0.25em;
}

.login .buttons {
}
