a { color: #b40303; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { border-bottom: none; text-transform: uppercase; }

.wrapper { border: none; }

.red-button { border: 1px solid #CCC; border-radius: 2px; box-shadow: 3px 3px 3px #AAA; color: white;
    font-size: 18px !important; text-transform: uppercase;
    background: #b40303 url(./images/red-button.png) repeat-x top left  !important; }

#header { margin: 20px auto; border-bottom: 1px solid #CCC; }

#topmenu { margin: 41px 0 5px 50px; padding: 0; }
#topmenu li { list-style: none; display: inline; padding-right: 30px; font-size: 14px; text-transform: uppercase; }

#usermenu { padding: 10px 0 0 165px; }

#language { margin-bottom: 15px; }
#language img { position: relative; top: 3px; }

#search { }
#search #query { margin: 0; width: 200px; background: white; }
#search #go {position: relative; bottom: 1px; margin: 0; padding: 0; width: 22px; height: 22px;
    border: 1px solid #b40303; background: #b40303; }

#edit-post-form #name, #edit-post-form #alias, #edit-post-form #teaser,
#edit-post-form #description, #edit-post-form #metadesc { width: 600px; font-size: 18px; }

#edit-post-form .tag-wrap { width: 523px; }
#edit-post-form .tag-wrap .tag-input { width: 100px; min-width: auto; }

#content { min-height: 490px; }

#file-table a { display: inline-block; min-width: 40px; }

.post-item { margin-bottom: 40px; font-size: 14px; line-height: 22px;}
.post-item .teaser { padding-bottom: 15px; }
.post-item .cover { width: 350px; height: 350px; }
.post-item .covers { padding: 0 15px 15px 0; }

.post-item-full { font-size: 14px; line-height: 22px; }
.post-item-full .description { padding-bottom: 15px; }
.post-item-full .cover { width: 350px; height: 350px; }
.post-item-full .covers { padding: 0 15px 15px 0; }

.main-sidebar { float: left; width: 700px; }
.right-sidebar { float: right; width: 240px; }
.right-sidebar li { list-style: none; padding: 5px 15px; }
.right-sidebar h3, .right-sidebar a { color: #666; }

.admin-buttons a { font-size: 12px; }

.relation { float: left; margin: 0 15px 15px 0; text-align: center; }
.relation .small-cover { display: block; width: 150px; height: 150px; margin-bottom: 10px; }

#popular, #featured { border-bottom: 1px solid #CCC; }

#footer { margin-top: 20px; padding: 20px 0; color: #666; border-top: 1px solid #CCC; background: #EEE; }
#footer h3 { margin-bottom: 10px; font-size: 12px; color: #999; }

#footer a { color: #666; }
#footer a:hover, #footer a:active { color: #b40303 !important; }

#footer ul { margin: 0; padding: 0; }
#footer li { margin: 0; padding: 0; list-style: none; line-height: 24px; }

#footer .site-title, #footer .trends { color: #666; font-weight: bold; padding-bottom: 15px;  }
#footer .metadesc { padding-bottom: 15px; }
#footer .wrapper { background: #EEE; }

#footer .left-column { float: left; width: 330px; margin-right: 40px; }
#footer .other-column { float: left; width: 160px; margin-right: 40px; }
#footer .info-column { float: left; width: 180px; margin-right: 40px; }
#footer .follow-me-column { float: right; width: 160px; }

#page-404 { width: 800px; margin: 40px auto; padding: 0; background: #EEE; color: black; }
#page-404 .left-column { float: left; width: 160px; margin-right: 40px; padding: 80px 40px; text-align: center;
    font-size: 80px; border-right: 3px solid white; color: white; background: black;  }
#page-404 .right-column { padding: 100px 40px; font-size: 16px;  }

#gallery .thumbnail { display: inline-block; margin: 0 10px 10px 0; padding: 10px; border: 1px solid #CCC; }
#gallery .thumbnail:hover { background: #EEE; }
#gallery .path { margin: 10px 0 20px 0; }
#gallery .path a { font-size: 18px;  }

#featured { padding-bottom: 15px; }
#featured #slider { display: inline; list-style: none; padding: 0; }
#featured .slider-item { display: inline-block; margin: 0 10px 10px 0; width: 100px; height: 350px;
    overflow: hidden; opacity: 0.7; }

#featured .slider-item .wrap { width: 700px; cursor: pointer; }
#featured .slider-item.active .wrap { cursor: default; }

#featured .slider-item img { width: 350px; height: 350px; }
#featured .slider-item .content { display: inline-block; }

#featured .slider-item .content h3,
#featured .slider-item .content .teaser,
#featured .slider-item .content .fulllink { padding-left: 10px; }
#featured .slider-item .content .music-block { padding: 10px 0 0 10px; }

#popular { padding: 30px 10px; }
#popular #rollover { display: inline; list-style: none; padding: 0; }
#popular .rollover-item { display: inline-block; margin-right: 20px; text-align: center; }

#popular .rollover-item img { width: 150px; height: 150px; }
#popular .rollover-item h3 { text-transform: none; font-size: 14px; padding: 5px 0; }

#image-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 500;
    text-align: center; vertical-align: middle; background: #000; }
#image-wrapper img { margin: 1% auto; max-width: 96%; max-height: 96%; }
.original, .next, .prev, .close { cursor: pointer; }
.close { position: absolute; width: 50px; height: 50px; top: 0; right: 0; }
.next, .prev { position: absolute; width: 50px; height: 50px; top: 50%; }
.next { right: 0; }